{% extends "master.html" %}
{% load static %}

<head>
    <link rel="stylesheet" href="static/master,css">
</head>

{% block contenido %} 
<!--PANEL-->
<div class="col-lg-4 workers-colour fixed-bottom d-lg-flex d-none flex-column justify-content-center border-end border-dark" style="top: 2.5vh;">
    <h1 class="px-5">Gesti&oacute;n de trabajadores</h1>
    <h5 class="px-5">Registro y seguimiento de los trabjadores asociados a nuestra organización.</h5>
</div>

<!-- REST OF THE PAGE -->
<div class="container-fluid h-100">
    <!-- PANEL FOR SMALL SCREENS -->
    <div class="row d-lg-none d-flex workers-colour border-dark border-top border-bottom mb-3">
        <div class="col-12 d-flex justify-content-center">
            <h1 class="px-5">Gesti&oacute;n de trabajadores</h1>
        </div>
    </div>
    <!-- FILTERS -->
    <div class="row h-100 mb-5">
        <div class="col-lg-8 col-12 offset-lg-4">
            <div id="id-menuDiv" class="row">
                <div class="col-lg-2 col-4 mb-lg-0 mb-3 d-flex">
                    <div class="btn-group m-auto w-100 " role="group" aria-label="showStock">
                        <button class="btn btn-outline-dark" onclick="toGrid()"><i class="bi bi-grid"></i></button>
                        <button class="btn btn-outline-dark" onclick="toList()"><i class="bi bi-list-ul"></i></button>
                    </div>
                </div>
                <div class="col-lg-7 col-8 mb-lg-0 mb-3">
                    <div class="input-group rounded border-dark w-100">
                        <div class="form-floating">
                            <input type="search" id="id-searchStock" class="form-control" placeholder="Escribe un producto...">
                            <label for="id-searchStock"><i class="bi bi-search"></i>&nbsp;Filtra por usuario</label>
                        </div>
                        <button class="btn btn-dark">Filtrar</button>
                    </div>
                </div>
                <div class="col-lg-3 col-12 mb-lg-0 mb-3 d-flex">
                    <a href="register" class="m-auto w-100 btn workers-colour border-dark"><i class="bi bi-plus-lg"></i>A&ntilde;adir usuario</a>
                </div>
            </div>
        </div>
    </div>
    <!-- CARDS -->
    <div class="cont">

        <div class="row">
            <div class="col-lg-8 col-12 offset-lg-4">
                <div class="row px-5">
    
                    {% for worker in workers %}
                    <div id="id-productDiv-{{forloop.counter}}" class="col-lg-12  px-2 mb-4 ">
                        <div class="row" style="max-height: 300px;">

                            <div class="col-1 ">
                                <img   style="max-height: 100px;" {% if es.producto_4.imagen %}src={{ worker.image }}{%else %}src={% static "img\someone.png" %}{% endif %} class="card-img-left" alt="{{worker.name}}">

                            </div>
                            
                            <div class="col-9 name-pack-user px-5 ">
                                <div class="card-body row ">

                                    <div class="col-10">
                                        <h5 class="card-title"><p>{{worker.name}} {{worker.surnames}}</p></h5>
                                        <p class="card-text">Trabajador</p>
                                    </div>
                                   

                                   
                                </div>
                                
                            </div>
                            <div class="col-2  px-4 align-self-center ">
                                
                                    <h5 class="card-title"><a href="/workers/{{worker.slug}}">Editar</a></h5>

                                
                              

                                
                            </div>
                            
                            
                            
                        </div>
                    </div>
                    {% endfor %}


                    
                </div>
            </div>
        </div>

    </div>
    
</div>

<script>
    function toList(){
        let elements = document.getElementsByClassName("productDiv")
        for(let i=0; i<elements.length; i++){
            elements.item(i).classList.add('col-lg-12', 'col-12')
            elements.item(i).classList.remove('col-lg-4','col-6')
        }
    }
    function toGrid(){
        let elements = document.getElementsByClassName("productDiv")
        for(let i=0; i<elements.length; i++){
            elements.item(i).classList.add('col-lg-4','col-6')
            elements.item(i).classList.remove('col-lg-12', 'col-12')
        }
    }
</script>
{% endblock %}