{% extends "layouts/master_full_width.html" %}
{% load static %}

{% block title %} 
{% if asem_user %} {{ asem_user.name }} {{ asem_user.surname }}
{% elif worker %} {{ worker.name }} {{ worker.surname }}
{% elif volunteer %} {{ volunteer.name }} {{ volunteer.surname }}
{% elif godfather %} {{ godfather.name }} {{ godfather.surname}}
{% elif child %} {{ child.name }} {{ child.surname}}
{% else  %} Usuario no identificado
{% endif %}


{% endblock %}
{% block extrahead %} 
<link rel="stylesheet" type="text/css" href="{% static 'styles/users.css' %}"> 
<link rel="stylesheet" type="text/css" href="{% static 'styles/details.css' %}"> 

{% endblock %}


{% block content %}

<div id="section-user" class="p-2">
<div class="d-flex flex-row justify-content-between align-items-center flex-wrap-reverse gap-4">
  <div class="d-flex flex-row justify-content-start align-items-center gap-4">
    {% if asem_user %}
    <img style="width: 150px; height: 150px; object-fit: cover; border-radius: 30px;" src="{{ '../../' }}{{ asem_user.photo }}" />
    {% elif worker %}
    <img style="width: 150px; height: 150px; object-fit: cover; border-radius: 30px;" src="{{ '../../' }}{{ worker.photo }}" />
    {% elif volunteer %}
    <img style="width: 150px; height: 150px; object-fit: cover; border-radius: 30px;" src="{{ '../../' }}{{ volunteer.photo }}" />
    {% elif godfather %}
    <img style="width: 150px; height: 150px; object-fit: cover; border-radius: 30px;" src="{{ '../../' }}{{ godfather.photo }}" />
    {% elif child %}
    <img style="width: 150px; height: 150px; object-fit: cover; border-radius: 30px;" src="{{ '../../' }}{{ child.photo }}" />
    {% else  %}
    <img style="width: 150px; height: 150px; object-fit: cover; border-radius: 30px;" src="{{ '../../' }}{{ user.photo }}" />
    {% endif %}
    <div class="d-flex flex-column justify-content-start align-items-start">
      {% if asem_user %}
      {% include 'components/title.html' with title=asem_user.name|add:" "|add:asem_user.surname %}
      {% elif worker %}
        {% include 'components/title.html' with title=worker.name|add:" "|add:worker.surname %}
      {% elif volunteer %}
        {% include 'components/title.html' with title=volunteer.name|add:" "|add:volunteer.surname %}
      {% elif godfather %}
        {% include 'components/title.html' with title=godfather.name|add:" "|add:godfather.surname %}
      {% elif child %}
        {% include 'components/title.html' with title=child.name|add:" "|add:child.surname %}
      {% else  %}
        {% include 'components/title.html' with title="Usuario no identificado" %}
      {% endif %}
      
      <p>
        {% if asem_user %}
          Usuario ASEM
        {% elif worker %}
          Trabajador
        {% elif volunteer %}
          Voluntario
        {% elif godfather %}
          Padrino
        {% elif child %}
          Niño
        {% else  %}
          Usuario no identificado
        {% endif %}
      </p>

    </div>
  </div>
  <a href="{{ request.path|slice:'-1'|slice:'0:-1'|add:'/list' }}" id="returnBtn" style="margin: auto;">
  {% include 'components/button.html' with variation='RETURN' text='Volver al listado' %}
  </a>
  {% comment %}
  {% with href=request.path|slice:'-1'|slice:'0:-1'|add:'/list' %}
    {% include "components/button.html" with variation="RETURN" text="Volver al listado" href="/stock/create" id="returnBtn" type="button" href={{href}} %}
  {% endwith %} 
  {% endcomment %}
</div>


<div class="row mt-5" id="content">
  <div class="col-md-6">
    {% for key, value in info_left %}
      {% if value %}
        <p><span style="font-weight: bold;">{{ key }}:</span> 
          {{ value }}
        </p>
      {% endif %}
    {% endfor %}
  </div>
  <div class="col-md-6">
    {% for key, value in info_right %}
      {% if value %}
      <p><span style="font-weight: bold;">{{ key }}:</span> 
        {% if key == "Documento" %}
        <a href="/{{ value }}" target="_blank">{{ value|cut:'media/docs/volunteer/' }}</a>
        {% elif key == "Niños apadrinados" %}
        <ul>
        {% for child in value %}
          <li>
            <a href="/user/child/{{ child.id }}">{{ child.name }} {{ child.surname }}</a>
          </li>
        {% endfor %}
        </ul>

        {% elif key == "Padrinos" %}
        <ul>
        {% for godfather in value %}
          <li>
            <a href="/user/godfather/{{ godfather.id }}">{{ godfather.name }} {{ godfather.surname }}</a>
          </li>
        {% endfor %}

        {% else %}
          {{ value }}
        {% endif %}
        </p>
      {% endif %}
    {% endfor %}
  </div>
</div>
</div>

<div class="links">
  {% comment %}
  - add service will only be available for asem users
  
  {% endcomment %}
  {% if asem_user %}
    <a href="/service/create"><i class="bi bi-plus-lg"></i> Añadir servicio</a>
  {% endif %}
  {% if godfather %}
  <a href="/payment/create"><i class="bi bi bi-wallet2"></i> Añadir pago</a>
  {% endif %}
  {% if child or godfather%}
    <a href="/sponsorship/create"><i class="bi bi-diagram-2"></i> Añadir apadrinamiento</a>
  {% endif %}

  <a href="{{ request.path|add:'/update' }}"><i class="bi bi-pencil"></i> Editar</a>
  <a href="{{ request.path|add:'/delete' }}"><i class="bi bi-trash"></i> Eliminar</a>
</div>
{% endblock %}
