{% load static %}

<form method="GET">
  {% csrf_token %}
  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
  
  <div class="form-group">
    <label for="surname">Apellido</label>
    <input type="text" class="form-control" id="surname" name="surname">
  </div>

  <div class="form-group">
    <label for="min_date">Nacio despues del:</label>
    <input type="date" id="min_date" name="min_date">
  </div>

  <div class="form-group">
    <label for="max_date">Nacio antes del:</label>
    <input type="date" id="max_date" name="max_date">
  </div>

  <div class="form-group">
    <label for="sex">Género</label>
    <select class="form-control" id="sex" name="sex">
      <option value="">--Seleccione--</option>
      <option value="F">Femenino</option>
      <option value="M">Masculino</option>
      <option value="O">Otro</option>
    </select>
  </div>

  <div class="form-group">
    <label for="address">Direccion</label>
    <input type="address" class="form-control" id="address" name="address">
  </div>

  <div class="form-group">
    <label for="city">Ciudad</label>
    <input type="text" class="form-control" id="city" name="city">
  </div>

  <div class="form-group">
    <label for="postal_code">Código postal</label>
    <input type="text" class="form-control" id="postal_code" name="postal_code">
  </div>

  <div class="form-group">
    <label for="condition">Condición</label>
    <select class="form-control" id="condition" name="condition">
      <option value="">--Seleccione--</option>
      <option value="EM">Escleorosis múltiple</option>
      <option value="ICTUS">Ictus</option>
      <option value="ELA">Esclerosis lateral amiotrófica</option>
      <option value="OTROS">Otros</option>
    </select>
  </div>

  <div class="form-group">
    <label for="member">Miembro</label>
    <select class="form-control" id="member" name="member">
      <option value="">--Seleccione--</option>
      <option value="EM">Escleorosis múltiple</option>
      <option value="ICTUS">Ictus</option>
      <option value="ELA">Esclerosis lateral amiotrófica</option>
      <option value="OTROS">Otros</option>
      <option value="UNA">Usuario no asociado</option>
    </select>
  </div>

  <div class="form-group">
    <label for="user_type">Tipo de usuario</label>
    <select class="form-control" id="user_type" name="user_type">
      <option value="">--Seleccione--</option>
      <option value="SACC">Socio ASEM con cuota de socio</option>
      <option value="UCC">Usuario con cuota de socio</option>
      <option value="USC">Usuario sin cuota de socio</option>
    </select>
  </div>

  <div class="form-group">
    <label for="correspondence">Correspondencia</label>
    <select class="form-control" id="correspondence" name="correspondence">
      <option value="">--Seleccione--</option>
      <option value="E">Email</option>
      <option value="CC">Carta con logo</option>
      <option value="CS">Carta sin logo</option>
      <option value="SR">Solo revista</option>
      <option value="N">Ninguna</option>
    </select>
  </div>

  <div class="form-group">
    <label for="status">Correspondencia</label>
    <select class="form-control" id="status" name="status">
      <option value="">--Seleccione--</option>
      <option value="C">Casado/a</option>
      <option value="F">Fallecido/a</option>
      <option value="V">Viudo/a</option>
      <option value="S">Soltero/a</option>
      <option value="D">Divorciado/a</option>
    </select>
  </div>
   
  <div class="form-group">
    <label for="family_unit_size">Tamaño de unidad familiar:</label>
    <input type="number" id="family_unit_size" name="family_unit_size">
  </div>
  
  <div class="form-group">
    <label for="own_home">Tipo de vivienda:</label>
    <select id="own_home" name="own_home">
      <option value="">--Seleccione--</option>
      <option value="VC">Vivienda compartida</option>
      <option value="VP">Vivienda propia</option>
    </select>
  </div>

  <div class="form-group">
    <label for="own_vehicle">Tiene coche:</label>
    <select id="own_vehicle" name="own_vehicle">
      <option value="">--Seleccione--</option>
      <option value="true">Si</option>
      <option value="false">No</option>
    </select>
  </div>
  
    <input type="submit" value="Filtrar">
  </form>

  {% for objeto in objects %}
          <p>{{objeto}}</p><br><br>
  {% endfor %}


