{% extends "layouts/master_sidebar.html" %}
{% load static %}

{% block extrahead %} <link rel="stylesheet" type="text/css" href="{% static 'styles/workers.css' %}"> {% endblock %}


{% block objectFor %}
{% for object in objects %}

  


  {% include 'components/card-list.html' with object_name=object_name  name=object.name surnames=object.surname%}
  <span class="object-id d-none">{{ object.id }}</span>


 


{% endfor %}
{% endblock %}

{% block scripts %}
<script id="object-data">
  const objectList = document.querySelectorAll('.card-list')
  const objetos = JSON.parse('{{ objects_json|escapejs }}')
  const preview = document.querySelector('#preview')
  const prevInfo = document.querySelector('#prev-info')
  const chevron = document.querySelector('#chevron')

  objectList.forEach(object => {
    const moreInfo = object.querySelector('#moreInfo')
    object.addEventListener('click', () => {
      const isMobile = window.matchMedia("(max-width: 768px)").matches
      console.log(moreInfo)
      const isExpanded = !moreInfo.classList.contains('d-none')
      const objectId = object.querySelector('.object-id').innerText
      

      const objectData = objetos.find(object => object.id == objectId)


      if (isMobile) {
        if (isExpanded) {
          moreInfo.classList.add('d-none')
          chevron.classList.remove('bi-chevron-down')
          chevron.classList.add('bi-chevron-right')
        } else {
          moreInfo.classList.remove('d-none')
          chevron.classList.remove('bi-chevron-right')
          chevron.classList.add('bi-chevron-down')
        }

  } else {

        prevInfo.classList.add('d-none')
        preview.classList.remove('text-center')
          preview.innerHTML = `
        <div class="row ">
          <div class="col-12 ">
            <div class=" row justify-content-center pb-5">
              <img class="profile-img-big rounded " src= ${objectData.photo}  />
            </div>
            <h2>${objectData.name  + " " + objectData.surname}</h2>
            <h5>{{object_names}}</h5>
            <p>Teléfono: ${objectData.telephone}</p>
            <p>Direción: ${objectData.address}</p>
            <p>Correo: ${objectData.email}</p>
          </div>
        </div>
      `
      }

    })

    // when resizing the window, the preview will be reset
    window.addEventListener('resize', () => {
      moreInfo.classList.add('d-none')
      prevInfo.classList.remove('d-none')
      preview.classList.add('text-center')
      preview.classList.remove('p-5')
      preview.innerHTML = `<span id="prev-info">Pulsa sobre una {{ object_name }} para la vista previa</span>`

    })

  })

</script>
{% endblock %}