<h1>Detalles del trabajador</h1>

<h2>Nombre: {{worker.name}}</h2>
<h2>Apellido: {{worker.surname}}</h2>
<h2>Email: {{worker.email}}</h2>
<h2>Fecha de nacimiento: {{worker.birth_date}}</h2>
<h2>Sexo: {{worker.sex}}</h2>
<h2>Ciudad: {{worker.city}}</h2>
<h2>Dirección: {{worker.address}}</h2>
<h2>Teléfono: {{worker.telephone}}</h2>
<h2>Código Postal: {{worker.postal_code}}</h2>
<h2>¿Está activo?: {{worker.is_active}} ESTO NO SÉ SI SE DEBERÍA MOSTRAR</h2>
<h2>¿Es admin?: {{worker.is_admin}} ESTO NO SÉ SI SE DEBERÍA MOSTRAR</h2>
<h2>ONG: {{worker.ong}}</h2>