{% extends "layouts/master.html" %}
{% load static %}

{% comment %} {% block extrahead %} <link rel="stylesheet" type="text/css" href="{% static 'styles/workers_form.css' %}"> {% endblock %} {% endcomment %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}
<h1>Registrar Trabajador</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" , name="save">Registrar</button>
</form>
{% endblock %}
