{% extends 'layouts/master_clean_sidebar.html' %} {% block titulo %} Añadir pago {% endblock %} 
{% block extrahead %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/payment_form.css' %}">
{% endblock %}
{% block leftSide %}

{% include 'components/title2.html' with title=title %}

<form method="post" action="">
  {% csrf_token %}
    <div class="row my-4 mx-5">
      
      <div class="my-4 mx-5 d-flex flex-column text-start">
        <div class="mt-3">
          {% include "components/inputs.html" with id=form.concept.id_for_label label_text=form.concept.label_tag input=form.concept %} 
          {{ form.concept.errors }}
        </div>
        <div class="mt-3">
          {% include "components/inputs.html" with id=form.amount.id_for_label label_text=form.amount.label_tag input=form.amount %} 
          {{ form.amount.errors }}
        </div>
        <div class="mt-3">
          {% include "components/inputs.html" with id=form.payday.id_for_label label_text=form.payday.label_tag input=form.payday  %}
          {{ form.payday.errors }}
        </div>
        <div class="mt-3">
          {% include "components/inputs.html" with id=form.paid.id_for_label label_text=form.paid.label_tag input=form.paid  %}
          {{ form.paid.errors }}
        </div>
      </div>
      <div class="form-section mt-5 mx-5 text-center">
        {% if form.instance.id %}
          {% with button_text="Actualizar" %}
            {% include 'components/button.html' with text=button_text variation="SUBMIT" %}
          {% endwith %}
        {% else %}
          {% with button_text="Añadir pago" %}
            {% include 'components/button.html' with text=button_text variation="SUBMIT" %}
          {% endwith %}
        {% endif %}
      </div>
</form>
{% endblock %}

{% block rightSide %}
<div id="calendar">
  {% include 'components/calendar.html' %}
</div>
{% endblock %}
