{% extends 'layouts/master_clean_sidebar.html' %} {% block titulo %} Añadir pago {% endblock %} 
{% block extrahead %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/calendar_view.css' %}">
{% endblock %}
{% block leftSide %}
{% include 'components/title2.html' with title=title %}

{% if messages %}
<div class="row">
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}

<form method="post" action="">
  {% csrf_token %}
  {{ form.non_field_errors }}
    <div class="row my-4 mx-5 justify-content-center">
      
      <div class="my-2 mx-5 d-flex flex-column text-start">
        <div>
          {% include "components/inputs.html" with id=form.concept.id_for_label label_text=form.concept.label_tag input=form.concept %} 
          {{ form.concept.errors }}
        </div>
        <div>
          {% include "components/inputs.html" with id=form.amount.id_for_label label_text=form.amount.label_tag input=form.amount %} 
          {{ form.amount.errors }}
        </div>
        <div>
          {% include "components/inputs.html" with id=form.payday.id_for_label label_text=form.payday.label_tag input=form.payday  %}
          {{ form.payday.errors }}
        </div>
        <div>
          {% include "components/inputs.html" with id=form.paid.id_for_label label_text=form.paid.label_tag input=form.paid  %}
          {{ form.paid.errors }}
        </div>
        {% if form.godfather %}
        <div>
          {% include "components/inputs.html" with id=form.godfather.id_for_label label_text=form.godfather.label_tag input=form.godfather  %}
          {{ form.godfather.errors }}
        </div>
        {% endif %}
        {% if form.project %}
        <div>
          {% include "components/inputs.html" with id=form.project.id_for_label label_text=form.project.label_tag input=form.project  %}
          {{ form.project.errors }}
        </div>
        {% endif %}
      </div>
      <div class="form-section mt-2 mx-5 text-center">
        {% if form.instance.id %}
          {% include 'components/button.html' with id="submit" text="Actualizar" variation="SUBMIT" %}
          {% include 'components/button.html'  with id="delete" href="./delete" text="Eliminar pago" secondary=True %}
        {% else %}
          {% with button_text="Añadir pago" %}
            {% include 'components/button.html' with id="submit" text=button_text variation="SUBMIT" %}
          {% endwith %}
        {% endif %}
      </div>
    </div>
</form>
{% endblock %}

{% block rightSide %}
<div id="calendar">
  {% include 'components/calendar.html' %}
</div>
{% endblock %}
