{% extends "layouts/master.html" %}
{% load static %}

{% block titulo %} Añadir subvención   {% endblock %} 
{% block contenido %}
<h1 class="mx-5 my-5">
  {% if form.instance.id %}
      Editar subvención
  {% else %}
      Añadir subvención
  {% endif %}
</h1>
<form method="post" class="" action="/subsidy/create">
  {% csrf_token %}
    <div class="row my-4 mx-5">
      <div class="col">
     
      {% include "components/inputs.html" with id=form.name.id_for_label label_text="Nombre" input=form.name %} 
      {{ form.name.errors }}
      </div>
      <div class="col">
        {% include "components/inputs.html" with id=form.organism.id_for_label label_text="Organismo" input=form.organism %} 
        {{ form.organism.errors }}
   
      </div>
    </div>
    <div class="row my-4 mx-5">
        <div class="col">
          {% include "components/inputs.html" with id=form.presentation_date.id_for_label label_text="Fecha de presentación" input=form.presentation_date %} 
          {{ form.presentation_date.errors }}
        </div>
        <div class="col">
          {% include "components/inputs.html" with id=form.payment_date.id_for_label label_text="Fecha de pago" input=form.payment_date %} 
          {{ form.payment_date.errors }}

        </div>
    </div>
    <div class="row my-4 mx-5">
        <div class="col">
          {% include "components/inputs.html" with id=form.provisional_resolution.id_for_label label_text="Fecha de resolución" input=form.provisional_resolution %} 
          {{ form.provisional_resolution.errors }}
    
        </div>
        <div class="col">
          {% include "components/inputs.html" with id=form.final_resolution.id_for_label label_text="Resolución final" input=form.final_resolution %} 
          {{ form.final_resolution.errors }}
  
        </div>
    </div>
    <div class="row my-4 mx-5">
        <div class="col">
          {% include "components/inputs.html" with id=form.amount.id_for_label label_text="Cantidad" input=form.amount %} 
          {{ form.amount.errors }}
        </div>
        <div class="col">
          {% include "components/inputs.html" with id=form.ong.id_for_label label_text="ONG" input=form.ong %} 
          {{ form.ong.errors }}
        
        </div>
      </div>
    <div class="form-section mt-5 mx-5 text-center">
      {% if form.instance.id %}
      {% with button_text="Actualizar" %}
          {% include 'components/button.html' with text=button_text variation="SUBMIT" %}
      {% endwith %}
      {% else %}
      {% with button_text="Registrar subvención" %}
          {% include 'components/button.html' with text=button_text variation="SUBMIT" %}
      {% endwith %}
      {% endif %}
    </div>
</form>
{% endblock %}
