{% extends "layouts/master_full_width.html" %}
{% load static %}

{% block content %}
<div id="section-subsidy">
  {% for message in messages %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% if form.instance.id %}
      {% include 'components/title.html' with title="Editar subvención" %}
  {% else %}
      {% include 'components/title.html' with title="Añadir subvención" %}
  {% endif %}
  <form method="post"  action="">
    {% csrf_token %}
      <div class="row my-4 mx-5">
        <div class="col-sm-12 col-lg-6">
        {% include "components/inputs.html" with id=form.name.id_for_label label_text="Nombre" input=form.name %} 
      
        {{ form.name.errors }}

        </div>
        <div class="col-sm-12 col-lg-6">
          {% include "components/inputs.html" with id=form.organism.id_for_label label_text="Organismo" input=form.organism %} 
          {{ form.organism.errors }}
    
        </div>
      </div>
      <div class="row my-4 mx-5">
          <div class="col-sm-12 col-lg-6">
            {% include "components/inputs.html" with id=form.presentation_date.id_for_label label_text="Fecha de presentación" input=form.presentation_date %} 
            {{ form.presentation_date.errors }}
          </div>
          <div class="col-sm-12 col-lg-6">
            {% include "components/inputs.html" with id=form.payment_date.id_for_label label_text="Fecha de pago" input=form.payment_date %} 
            {{ form.payment_date.errors }}
            <div id="message-dates-prov"></div>


          </div>
      </div>
      <div class="row my-4 mx-5">
          <div class="col-sm-12 col-lg-6">
            {% include "components/inputs.html" with id=form.provisional_resolution.id_for_label label_text="Fecha de resolución provisional" input=form.provisional_resolution %} 
            {{ form.provisional_resolution.errors }}
      
          </div>
          <div class="col-sm-12 col-lg-6">
            {% include "components/inputs.html" with id=form.final_resolution.id_for_label label_text="Fecha de resolución final" input=form.final_resolution %} 
            {{ form.final_resolution.errors }}
            <div id="message-dates"></div>

    
          </div>
      </div>
      <div class="row my-4 mx-5">
          <div class="col-sm-12 col-lg-6">
            {% include "components/inputs.html" with id=form.amount.id_for_label label_text="Cantidad" input=form.amount %} 
            {{ form.amount.errors }}
          </div>
      
         
        </div>
      <div class="form-section mt-5 mx-5 text-center">
        {% if form.instance.id %}
        {% with button_text="Actualizar" %}
            {% include 'components/button.html' with text=button_text id="id-submitForm" variation="SUBMIT" %}
        {% endwith %}
        {% else %}
        {% with button_text="Registrar subvención" %}
            {% include 'components/button.html' with text=button_text id="id-submitForm" variation="SUBMIT" %}
        {% endwith %}
        {% endif %}
      </div>
  </form>
</div>


<script type="text/javascript">
  let startInput = document.getElementById('id_provisional_resolution');
  let endInput = document.getElementById('id_final_resolution');
  let presentationInput = document.getElementById('id_presentation_date');
  let paymentInput = document.getElementById('id_payment_date');
  let messageDiv = document.getElementById('message-dates');
  let messageProvDiv = document.getElementById('message-dates-prov');

  let submitButton = document.getElementById('id-submitForm');
  console.log(submitButton)

  let compare = () => {
    let startValue = (new Date(startInput.value)).getTime();
    let endValue = (new Date(endInput.value)).getTime();
    let presentationValue = (new Date(presentationInput.value));
    let paymentValue = (new Date(paymentInput.value));



    if (paymentValue < presentationValue) {
      messageProvDiv.innerHTML = 'La fecha de pago debe ser posterior a la fecha de presentación';
    } else {
      messageProvDiv.innerHTML = '';
    }
    if (endValue < startValue) {
      messageDiv.innerHTML = 'La fecha de resolución final debe ser posterior a la fecha de resolución provisional';
    } else {
      messageDiv.innerHTML = '';
    }
    

    if(endValue < startValue || paymentValue < presentationValue) {
            submitButton.disabled = true
        }
  };

  startInput.addEventListener('change', compare);
  endInput.addEventListener('change', compare);
  paymentInput.addEventListener('change', compare);
  presentationInput.addEventListener('change', compare);


</script>
{% endblock %}

