{% extends "layouts/master_sidebar.html" %}
{% load static %}

{% block extrahead %} <link rel="stylesheet" type="text/css" href="{% static 'styles/subsidies.css' %}"> {% endblock %}

{% block objectFor %}
{% for object in objects %}

  {% include 'components/card-list.html' with object_name=object_name  name=object.name amount=object.amount %}
  <span class="object-id d-none">{{ object.id }}</span>

{% endfor %}
{% endblock %}

{% block footer %}
<div class="row mb-4">
<div class="col-12 justify-content-start">
    {% include "components/button.html" with variation="EXCEL" text="Descargar página" type="button" onclick="" %}
</div>
</div>
{% endblock %}

{% block scripts %}
<script id="object-data">
  const objectList = document.querySelectorAll('.card-list')
  const objetos = JSON.parse('{{ objects_json|escapejs }}')
  const preview = document.querySelector('#preview')
  const prevInfo = document.querySelector('#prev-info')
  const chevron = document.querySelector('#chevron')

  objectList.forEach(object => {
    const moreInfo = object.querySelector('#moreInfo')
    object.addEventListener('click', () => {
      const isMobile = window.matchMedia("(max-width: 768px)").matches
      console.log(moreInfo)
      const isExpanded = !moreInfo.classList.contains('d-none')
      const objectId = object.querySelector('.object-id').innerText
      

      const objectData = objetos.find(object => object.id == objectId)


      if (isMobile) {
        if (isExpanded) {
          moreInfo.classList.add('d-none')
          chevron.classList.remove('bi-chevron-down')
          chevron.classList.add('bi-chevron-right')
        } else {
          moreInfo.classList.remove('d-none')
          chevron.classList.remove('bi-chevron-right')
          chevron.classList.add('bi-chevron-down')
        }

  } else {

        prevInfo.classList.add('d-none')
        preview.classList.remove('text-center')
          preview.innerHTML = `
        <div class="row ">
          <div class="col-12 ">
            <div class=" row justify-content-center pb-5">
              {%if object_name == "Usuario" or object_name == "Niño" or object_name == "Padrino" or object_name == "Trabajador" or object_name == "Voluntario"%} {% if object.photo %}

                <img class="profile-img-big rounded" src=" {{object.photo}} " />
                {% else %}

                <img class="profile-img-big rounded" src={% static 'img/person-icon.svg' %} />

                {% endif %} {% else %}

                <img class="profile-img-big  rounded" src={% static 'img/others-icon.svg' %} />

                {%endif%}
            </div>
            <h2>${objectData.name}</h2>
            <h5>{{object_names}}</h5>
            <p>${objectData.organism}</p>
            <p>${objectData.amount} €</p>
            <p>Presentación: ${objectData.presentation_date}</p>
            <p>Pago: ${objectData.payment_date}</p>
            <p>Resolución provisional: ${objectData.provisional_resolution=='True'?'✅':'❌'}</p>
            <p>Resolución final: ${objectData.provisional_resolution=='True'?'✅':'❌'}</p>
          </div>
        </div>
      `
      }

    })

    // when resizing the window, the preview will be reset
    window.addEventListener('resize', () => {
      moreInfo.classList.add('d-none')
      prevInfo.classList.remove('d-none')
      preview.classList.add('text-center')
      preview.classList.remove('p-5')
      preview.innerHTML = `<span id="prev-info">Pulsa sobre una {{ object_name }} para la vista previa</span>`

    })

  })

</script>
{% endblock %}