{% extends "layouts/master_sidebar.html" %}

{% comment %}
ATTENTION FOR THE SCRIPT: you must include the divs with the id "data" and "object-name" in order to make the script
work. The first one must contain the data in json format and the second one must contain the name of the object to be
displayed in the preview text (e.g. "donación")
{% endcomment %}

{% load static %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles/homes.css' %}">
{% endblock %}

{% block botonPrimario %}
<a  href="/home/create">
{% include 'components/button.html' with variation='PLUS' text='Añadir '|add:object_name|safe %}</a>
{% endblock %}

{% block filters %}
<form method="GET" class="my-3">
  {% csrf_token %}
  <div id="team">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-5 mb-3">
        {% include "components/inputs.html" with id=form.qsearch.id_for_label label_text="Búsqueda:" input=form.qsearch %} 
      </div>

      <div class='col-lg-3 col-md-12 col-12 mb-3'>
        {% include "components/inputs.html" with id=form.min_start_date.id_for_label label_text="Fecha de alta" input=form.min_start_date %} 
      </div>

      <div class="col-lg-3 col-md-12 col-12 mb-3">
        {% include "components/inputs.html" with id=form.payment_method.id_for_label label_text="Método de pago" input=form.payment_method %} 
      </div>

      <div class="col-lg-3 col-md-12 col-12 mb-3">
        {% include "components/inputs.html" with id=form.frequency.id_for_label label_text="Frecuencia" input=form.frequency %} 
      </div>

      <div class="col-lg-3 col-md-12 col-12 mb-3">
        {% include "components/inputs.html" with id=form.amount_min.id_for_label label_text="Cantidad" input=form.amount_min %} 
      </div>
    </div>
  </div>
  <div class="col pt-2">
    {% include 'components/button.html' with text="Filtrar" id="id-filter" variation="SUBMIT" %}

    {% include 'components/button.html' with text="Borrar" id="reset" type="reset" variation="RESET" %}
  </div>
</form>
{% endblock %}


{% block objectFor %}
<!-- TABLE HEADER -->
<div id="id-tableHeader" class="container-fluid">
  <div class="row">
    <div class="col-lg-5 col-6"><strong>Nombre</strong></div>
    <div class="col-lg-2 col-6"><strong>Provincia</strong></div>
    <div class="col-lg-3 col-6"><strong>Cantidad</strong></div>
    <div class="col-lg-2 col-6"><strong>Frecuencia de pago</strong></div>
  </div>
  <hr class="my-1">
</div>


{% for object in objects %}
<div class="container-fluid mw-100 px-2 card-list rounded py-1" tabindex="1">
    <span class="object-id d-none">{{ object.id }}</span>
   
    <div class="row">
      <div class="col-lg-5 col-6">
        <strong><h5 title="{{object.name}}">{{object.name}}</h5></strong>
      </div>

      <div class="col-lg-2 col-6">
        <span>{{object.province}}</span>
      </div>

      <div class="col-lg-3 col-6">
        <span>{{object.amount}} €</span>
      </div>

      <div class="col-lg-2 col-6">
        <span>{{object.frequency}}</span>
      </div>

    </div>
    
    <div class="d-none d-flex flex-column " id="moreInfo">
      <span class="object-description pt-1"><strong>Método de pago: </strong>{{ object.payment_method }}</span>
      <span class="object-donor-name pt-1"><strong>Titular de cuenta bancaria: </strong>{{ object.bank_account_holder  }}</span>
      <span class="object-donor-dni pt-1"><strong>Referencia de la cuenta bancaria: </strong>{{ object.bank_account_reference  }}</span>
      <span class="object-donor-email pt-1"><strong>Observaciones: </strong> {{ object.notes  }}</span>

      <div class="container mt-2 border-dark border-top border-1  p-0">
        <div class="row d-flex flex-column text-center p-2" id="lateralButtons">
          <a id='edit-button' href="{{ object.id }}/update"><i class="bi bi-pencil"></i>Editar</a>
          <a id='delete-button' href="{{ object.id }}/delete"><i class="bi bi-x"></i>Eliminar</a>
        </div>
      </div>
    </div>
</div>
{% endfor %}

{% include 'components/pagination.html' %}

<div id="data" data-json='{{ objects_json|safe }}'></div>
<div id="object-name" data-name='{{ object_name }}'></div>

{% endblock %}


{% block scripts %}
<script id="object-data">
  const objectList = document.querySelectorAll('.card-list')
  const objetos = JSON.parse('{{ objects_json|escapejs }}')
  const preview = document.querySelector('#preview')
  const prevInfo = document.querySelector('#prev-info')
  const chevron = document.querySelector('#chevron')

  objectList.forEach(object => {
    const moreInfo = object.querySelector('#moreInfo')
    object.addEventListener('click', () => {
      const isMobile = window.matchMedia("(max-width: 768px)").matches
      const isExpanded = !moreInfo.classList.contains('d-none')
      const objectId = object.querySelector('.object-id').innerText
      

      const objectData = objetos.find(object => object.id == objectId)


      if (isMobile) {
        if (isExpanded) {
          moreInfo.classList.add('d-none')
          chevron.classList.remove('bi-chevron-down')
          chevron.classList.add('bi-chevron-right')
        } else {
          moreInfo.classList.remove('d-none')
          chevron.classList.remove('bi-chevron-right')
          chevron.classList.add('bi-chevron-down')
        }

  } else {

        prevInfo.classList.add('d-none')
        preview.classList.remove('text-center')
          preview.innerHTML = `
        <div class="container-fluid">
          <div class="row">
            <h2 title="${objectData.name}">${objectData.name}</h2>
            <h5>{{object_name}}</h5>
            <p>${objectData.province}</p>
            <p><strong>Cantidad:  </strong>${objectData.amount} €</p>
            <p><strong>Frecuencia de pago: </strong>${objectData.frequency}</p>
            <p><strong>Método de pago:  </strong>${objectData.payment_method}</p>
            <p><strong>Titular de cuenta bancaria: </strong>${objectData.bank_account_holder}</p>
            <p><strong>Observaciones:  </strong>${objectData.notes}</p>
            <p><strong>Referencia de la cuenta bancaria:  </strong>${objectData.bank_account_reference}</p>
            <p><strong>Número de cuenta bancaria:  </strong>${objectData.bank_account_number}</p>
            <p><strong>Fecha de alta:  </strong>${objectData.start_date}</p>
            <p><strong>Fecha de baja:  </strong>${objectData.termination_date}</p>
          </div>
        </div>

        <div class="container mt-auto border-dark border-top border-1 col-md-4 fixed-panel p-0">
          <div class="row d-flex flex-column text-center p-3" id="lateralButtons">
            <a id='edit-button' href="${ objectData.id }/update"><i class="bi bi-pencil"></i>Editar</a>
            <a id='delete-button' href="${ objectData.id }/delete"><i class="bi bi-x"></i>Eliminar</a>
          </div>
        </div>
      `
      }
      let deleteBtn = document.querySelector('#delete-button')
      deleteBtn.addEventListener('click', () => {
        if (!confirm('¿Estás seguro de que quieres eliminar esta {{ object_name }}?')) {
          event.preventDefault();
        }
      })

    })

    // when resizing the window, the preview will be reset
    window.addEventListener('resize', () => {
      moreInfo.classList.add('d-none')
      prevInfo.classList.remove('d-none')
      preview.classList.add('text-center')
      preview.classList.remove('p-5')
      preview.innerHTML = `<span id="prev-info">Pulsa sobre una {{ object_name }} para la vista previa</span>`

    })

  })

</script>

<script>
  document.querySelector('button[type="reset"]').addEventListener('click', function(e) {
      e.preventDefault();
      window.location.href = window.location.pathname;
  });
</script>

<script>
  let deleteBtn = document.querySelector('#delete-button')
    deleteBtn.addEventListener('click', () => {
      if (!confirm('¿Estás seguro de que quieres eliminar esta casa?')) {
        event.preventDefault();
      }
    })
</script>
{% endblock %}
