.btn {
  /* Background color should be added based on the section */
  transition: background-color 0.2s ease-in-out;
  transition: scale 0.05s ease-in-out;
  scale: 1;
}

.btn:active {
  scale: 0.95;
}

/* Example section */

.example-section .btn {
  background-color: var(--main-color);
}

.example-section .btn:hover {
  background-color: var(--main-color-hover);
}

/* override bootstrap */
.example-section .btn:active {
  background-color: var(--main-color-hover) !important;
}
