label {
  font-weight: 400;
  font-size: var(--font-size-large);
  line-height: 24px;
}

input {
  border: 1.4px solid var(--clr-gray-900);
  border-radius: var(--border-radius-1);
}

.border-class {
  border: 1.4px solid var(--clr-gray-900);
  border-radius: var(--border-radius-1);
}
