nav a {
  color: var(--clr-black) !important;
}

.navbar-brand {
  font-family: var(--font-header);
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

.dropdown-toggle::after {
  content: "\25BC";
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0;
  border: 0;
  font-weight: bold;
}
