{% extends 'layouts/master_clean_sidebar.html' %} {% block titulo %} Añadir Servicio {% endblock %} 
{% block extrahead %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/calendar_view.css' %}">
{% endblock %}
{% block leftSide %}
{% include 'components/title2.html' with title=title %}

{% if messages %}
<div class="row">
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}

<form method="post" action="">
  {% csrf_token %}
    <div class="row my-4 mx-5 justify-content-center">
      
      <div class="my-2 mx-5 d-flex flex-column text-start">
      
      {{ form.non_field_errors }}
      {% for field in form %}
        <div class="mt-3">
          {% if field.field.required %}
            {% with label_text=field.label_tag|safe|add:'<span class="text-danger"> *</span>' %}
              {% include 'components/inputs.html' with id=field.id_for_label label_text=label_text input=field %}
            {% endwith %}
          {% else %}
            {% include 'components/inputs.html' with id=field.id_for_label label_text=field.label_tag input=field %}
          {% endif %}
        </div>
        <div class="row text-danger">
          {{ field.errors }}
        </div>
      {% endfor %}

      </div> 

      <div class="col-12">
        <p class="text-danger">* Campos obligatorios</p>
      </div>

      <div class="form-section mt-5 mx-5 text-center">
        {% if form.instance.id %}
          {% with button_text="Actualizar" %}
            {% include 'components/button.html' with id="submit" text=button_text variation="SUBMIT" %}
          {% endwith %}
        {% else %}
          {% with button_text="Añadir servicio" %}
            {% include 'components/button.html' with id="submit" text=button_text variation="SUBMIT" %}
          {% endwith %}
        {% endif %}
      </div>
    </div>
</form>
{% if form.instance.id %}
    {% include 'components/button.html'  with id="delete" href="./delete" text="Eliminar servicio" %}
{% endif %}
{% endblock %}

{% block rightSide %}
<div id="calendar">
  {% include 'components/calendar.html' %}
</div>
{% endblock %}
