{% extends 'layouts/master.html' %}
{% comment %} 
ATTRIBUTES:
- object_name: name of the object to be displayed in the preview text (e.g. "donación")
- title: title of the page (e.g. "Gestión de donaciones")
- text: text of the button (e.g. "Añadir donación")

PS: the text inside the button is displayed exactly as it is written. You can either write the text directly or use the "add" filter to concatenate strings (e.g. "Añadir "|add:object_name|safe)

{% endcomment %}



{% block contenido %}
<div class="p-4">
  <div class="row complete">

    <div class="col-md-4 d-flex justify-content-center align-items-center" id="previewContainer">
      <div class="fs-4 text-center" id="preview">
        <span id="prev-info">Pulsa sobre una {{ object_name }} para la vista previa</span>
      </div>
    </div>

    <div class="col-12 col-md-8 border-start border-dark border-2 " id="rightSectionContainer">
      <!-- TITULO -->
      <div class="row ps-5" id="rightSection">
        <div class="col-12 mb-4">
          {% include 'components/title.html' with title=title %}
        </div>
        <div class="col-12 mb-4">
          <div class="row justify-content-between align-items-center">
            <div class="col-12 col-md-8">
              <div class="input-group rounded border-dark w-100" id="filterContainer">
                <div class="form-floating" id="filter">
                  <input type="search" id="id-search" class="form-control" placeholder="Filtra por {{ object_name }}">
                  <label for="id-search"><i class="bi bi-search"></i> Filtra por {{ object_name }} ...</label>
                </div>
                <button class="btn btn-dark" id="filterBtn">Filtrar</button>
              </div>
            </div>
            
            <div class="col-md-3 col-12 mb-md-0 mb-3 d-flex">
              {% if 'asem/list' in request.path %}
                <a  href="/user/asem/create">
             
              {% elif 'worker/list' in request.path %}
                <a  href="/user/worker/create">

              {% elif 'child/list' in request.path %}
                <a  href="/user/child/create">

              {% elif 'godfather/list' in request.path %}
                <a  href="/user/godfather/create">

              {% endif %}
              {% include 'components/button.html' with variation='PLUS' text='Añadir '|add:object_name|safe %}</a>
            </div>

            {% if 'asem/list' in request.path %}
            <div class="row justify-content-end">
              <div class="col-md-2 col-12 mb-md-0 mb-3 mt-4 d-flex">
                <a href="/payment/create">
                {% include 'components/button.html' with variation='PLUS' text='Añadir pago' %}
                </a>
              </div>
            </div>
            {%endif%}

          </div>
        </div>
        <div class="col-12 d-flex flex-column align-items-center justify-content-center 3">
          {% block objectFor %}
          {% endblock %}
        </div>
      </div>

    </div>
  </div>
</div>



{% block scripts %}
{% endblock %}
{% endblock %}