{% comment %} 
ATTRIBUTES:
{% endcomment %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/components/calendar.css' %}">

<div id='calendar'></div>

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js'></script>
<script>
    let events = [
        {
        title: 'Pago 1',
        start: '2023-03-01',
        end: '2023-03-01'
        },
        {
        title: 'Pago 10',
        start: '2023-03-01',
        end: '2023-03-01'
        },
        {
        title: 'Pago 2',
        start: '2023-03-012',
        end: '2023-03-012'
        },
        {
        title: 'Pago 3',
        start: '2023-03-08',
        end: '2023-03-08'
        },
        {
        title: 'Pago 4',
        start: '2023-03-09',
        end: '2023-03-09'
        },
        {
        title: 'Pago 5',
        start: '2023-03-10',
        end: '2023-03-10'
        },
        {
        title: 'Pago 6',
        start: '2023-03-11',
        end: '2023-03-11'
        },
    ]

    let buttonText = {
        today: 'Hoy',
        year: 'Año',
        month: 'Mes',
        week: 'Semana',
        day: 'Día',
        list: 'Lista',
        //prev:     '&lsaquo;', // <
        //next:     '&rsaquo;', // >
        //prevYear: '&laquo;',  // <<
        //nextYear: '&raquo;',  // >>
    }

    let headerToolbar = {
        left: 'title',
        center: 'prev,next prevYear,nextYear today',
        right: 'dayGridYear,dayGridMonth,listWeek'
    }

    let titleFormat = { 
        year: 'numeric',
        month: 'long' 
    }

    document.addEventListener('DOMContentLoaded', function() {
        let calendarEl = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        locale: 'es',
        firstDay: 1,
        buttonText: buttonText,
        headerToolbar: headerToolbar,
        titleFormat: titleFormat,
        events: events,
        });
        calendar.render();
    });
</script>