{% load static %}
<div class="container card-list rounded p-3" tabindex="1">
  <span class="object-id d-none">{{ object.id }}</span>
   
      
    <div class="row">
      <div class="col-md-5 col-lg-4 col-sm-6 ">
        <strong><h5>{{object.surname}}, {{object.name}}</h4></strong>
      
      </div>
      <div class="col-md-2 col-lg-2 col-sm-1">
        <span>{{object.city}}</span>

      </div>  
      <div class="col-md-2 col-lg-2  col-sm-1">
        <span>{{object.telephone}}</span>

      </div> 
      <div class="col-md-2 col-sm-1 col-lg-4">
        <span>{{object.email}}</span>

      </div> 
        
        
      </div>
    
    

   

    <div class="d-none d-flex flex-column" id="moreInfo">
      <span class="object-description">Teléfono:{{ object.telephone }}</span>

      <span class="object-description">Dirección:{{ object.address }}</span>
      <span class="object-birthdate">Fecha de nacimiento: {{ object.birth_date  }}</span>
      <span class="object-city">Ciudad: {{ object.city  }}</span>
      <span class="object-postalcode">Código postal: {{ object.postal_code  }}</span>
      <span class="object-telephone">Teléfono: {{ object.telephone  }}</span>

      
    </div>
  </div>
</div>
