{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/components/navbar.css' %}">

<nav class="navbar navbar-expand-md border-bottom border-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SARANDONGA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse px-md-5" id="navbarNav">
        <ul class="navbar-nav d-flex justify-content-between w-100">
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if 'stock' in request.path %}active{% endif %}" href="#">Stock</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {% if 'asem_user' in request.path or 'worker' in request.path %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Usuarios
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Voluntarios</a></li>
                  <li><a class="dropdown-item" href="#">Usuarios ASEM</a></li>
                  <li><a class="dropdown-item" href="#">Niños</a></li>
                  <li><a class="dropdown-item" href="#">Padrinos</a></li>
                </ul>
              </li>
            <li class="nav-item">
                <a class="nav-link {% if 'donations' in request.path %}active{% endif %}">Donaciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if 'subsidy' in request.path %}active{% endif %}">Subvenciones</a>
            </li>
        </ul>
        </div>
    </div>
</nav>