{% comment %} 
Pagination component for list views
{% endcomment %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/components/pagination.css' %}">


<div class="pagination">
    <span class="step-links">
        {% if objects.has_previous %}
        <a href="?page=1{{ query_str }}">&laquo; Primera</a>
        <a href="?page={{ objects.previous_page_number }}{{ query_str}}">Anterior</a>
        {% endif %}

    <span class="current">
    Página {{ objects.number }} de {{ objects.paginator.num_pages }}
    </span>

    {% if objects.has_next %}
        <a href="?page={{ objects.next_page_number }}{{ query_str }}">Siguiente</a>
        <a href="?page={{ objects.paginator.num_pages }}{{ query_str}}">Última &raquo;</a>
    {% endif %}
    </span>
</div>