{% comment %} 
ATTRIBUTES:
- id (id for the input)
- text (text for the label and placeholder)

{% endcomment %}

{% comment %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/components/search.css' %}"> {% endcomment %}

<div class="search input-group rounded" id="searchContainer">
    <form method="GET" action="" id="searchform">
        {% csrf_token %}
        <div class="form-floating" id="filter">
            <input type="search" id="{{id}}" name="q" value="{{request.GET.q}}" class="form-control border-dark" 
                    placeholder="{{text}}">
            <label for="id-search"><i class="bi bi-search"></i> 
                {{ text }}
            </label>
        </div>
        {{form}}
        <button class="btn btn-dark" type="submit" id="searchBtn">Buscar</button>
        
    </form>
</div>