<div class=" col-6 mx-5 mb-3   ">
    <div class="row ">
        <div class="col-12">
            <label for={{id}}>{{label_text}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <select class="form-select border-class px-1" aria-label="Default select example">
                <option selected>{{placeholder}}</option>
                {% for key,value in options %}
                    <option value="{{key}}">{{value}}</option>
                {% endfor %}

            </select>        
        </div>   
    </div>
</div>
