{% extends "layouts/master_full_width.html" %}
{% load static %}

{% block extrahead %} 
<link rel="stylesheet" type="text/css" href="{% static 'styles/users.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}

{% block content %}

<div id="section-worker">

{% if form.instance.id %}
    {% include 'components/title.html' with title="Editar trabajador" %}
{% else %}
    {% include 'components/title.html' with title="Añadir trabajador" %}
{% endif %}


{% if messages %}
<div class="row">
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>
{% endif %}

<form method="post"  enctype="multipart/form-data" class="mt-3 row">{% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
        <div class="col-md-6 col-12">
            <div class="row my-3">
                {% if field.field.required %}
                    {% with label_text=field.label_tag|safe|add:'<span class="text-danger"> *</span>' %}
                        {% include 'components/inputs.html' with id=field.id_for_label label_text=label_text input=field %}
                    {% endwith %}
                {% else %}
                    {% include 'components/inputs.html' with id=field.id_for_label label_text=field.label_tag input=field %}
                {% endif %}
            </div>
            <div class="row text-danger">
                {{ field.errors }}
            </div>
        </div>
    {% endfor %}

    <div class="col-12 mb-5 mt-2">

        <input type="checkbox" id="check" name="policy" value="true">
        <label for="policy"> Este usuario acepta la <a href="https://sarandonga.vercel.app/politica-privacidad" data-bs-toggle="tooltip" data-bs-placement="top" title="Serás reedirigido a la política de privacidad"> política de privacidad</a> de SarandONGa<span class="text-danger"> *</span></label>

    </div>

    <div class="col-12">
        <p class="text-danger">* Campos obligatorios</p>
    </div>

    <div class="form-section mt-3 mb-5 col-12 d-flex justify-content-center">
        {% if form.instance.id %}
            {% include 'components/button.html' with variation="SUBMIT" text="Actualizar trabajador" id="id-submitForm" type="submit" %}
        {% else %}
            {% include 'components/button.html' with variation="SUBMIT" text="Registrar trabajador" id="id-submitForm" type="submit" %}
        {% endif %}

    </div>
</form>

</div>

<script>

    $(function() {
        var chk = $('#check');
        var btn = $('#id-submitForm');
      
        chk.on('change', function() {
          btn.prop("disabled", !this.checked);//true: disabled, false: enabled
        }).trigger('change'); //page load trigger event
      });

</script>

<script type="text/javascript">
    let birthDate = document.getElementById('id_birth_date')
    let submitButton = document.getElementById('id-submitForm')
    
    let birthDiv = document.createElement('div')
    birthDiv.setAttribute('class', 'text-danger')
    birthDate.parentElement.parentElement.appendChild(birthDiv)

    
    let compare = () => {
        let birthDateValue = Date.parse(birthDate.value)
        let currentDate = Date.now()
        
        submitButton.disabled = true
        
        if(birthDateValue > currentDate) {
            birthDiv.innerHTML = 'La fecha de nacimiento debe ser anterior a la fecha actual'
        } else {
            birthDiv.innerHTML = ''
            submitButton.disabled = false
        }


    }
    birthDate.addEventListener('change', compare)
</script>
{% endblock %}
