.profile-img {
  width: 60px;
  height: 60px;
}

.profile-img-big {
  width: 200px;
  height: 200px;
}

.card-list {
  border: 1px solid #fff;
}

.card-list:active,
.card-list:focus {
  border: 1px solid #000;
}
