:root {
  --donations-main-color: var(--clr-accent-2);
  --donations-main-color-hover: var(--clr-accent-2-dark);
  --donations-main-color-light: var(--clr-accent-2-light);
}

/* Button */
#section-donation .section-btn {
  background-color: var(--donations-main-color);
  color: var(--clr-black);
}

#section-donation .section-btn:hover {
  color: var(--clr-black);
}

/* override bootstrap */
#section-donation .section-btn:active {
  background-color: var(--donations-main-color-hover) !important;
  color: var(--clr-black);
}

/* Title */
#section-donation .title {
  border-color: var(--donations-main-color);
}

@media (min-width: 768px) {
  #chevron {
    display: none !important;
  }
}

/* cards hover */

.card-list:hover {
  cursor: pointer;
  background-color: var(--donations-main-color-light);
  transition: background-color 0.5s ease-in-out;
}

.card-list:focus {
  background-color: var(--donations-main-color-light);
}
