:root {
  --donations-main-color: #e7c4e4;
  --donations-main-color-hover: #e8a8e2;
  --donations-main-color-light: #ecd3ea;
}


/* Button */
#section-donation .section-btn {
  background-color: var(--donations-main-color);
}

#section-donation .section-btn:hover {
  background-color: var(--donations-main-color-hover);
}

/* override bootstrap */
#section-donation .section-btn:active {
  background-color: var(--donations-main-color-hover) !important;
}

/* Title */
#section-donation .title {
  text-decoration-color: var(--donations-main-color);
}

/* Selection */
.selected {
  background-color: var(--donations-main-color-light);
}

@media (min-width: 768px) {
  #chevron {
    display: none !important;
  }
}
