:root {
  --donations-main-color: var(--clr-accent-2);
  --donations-main-color-hover: var(--clr-accent-2);
  --donations-main-color-light: var(--clr-accent-2);
}


/* Button */
#section-donation .section-btn {
  background-color: var(--donations-main-color);
  color: var(--clr-black);
}

#section-donation .section-btn:hover {
  background-color: var(--donations-main-color-hover);
  color: var(--clr-black);
}

/* override bootstrap */
#section-donation .section-btn:active {
  background-color: var(--donations-main-color-hover) !important;
  color: var(--clr-black);
}

/* Title */
#section-donation .title {
  border-color: var(--donations-main-color);
}

/* Selection */
.selected {
  background-color: var(--donations-main-color-light);
}

@media (min-width: 768px) {
  #chevron {
    display: none !important;
  }
}
