:root {
  --grants-main-color: #f5e2d8;
  --grants-main-color-hover: #e4b399;
  --grants-main-color-light: #f9ebe3;
}

/* Button */
.grants-section .section-btn {
    background-color: var(--grants-main-color);
}

.grants-section .section-btn:hover {
    background-color: var(--grants-main-color-hover);
}

/* override bootstrap */
.grants-section .section-btn:active {
  background-color: var(--main-color-hover) !important;
}

.card-img-left {
    border-radius: 7px;
    background-position: left top;
    object-fit: cover;
    width: 67px;
    height: 67px;
}

a {
    color: red;
}