
.form-outline input,
.form-section button {
  width: 300px;
  transition: width 0.3s ease-in-out;
}

.title {
  border-bottom: none !important;
}

@media(min-width: 768px) {
  .form-outline input,
  .form-section button {
    width: 450px;
    transition: width 0.3s ease-in-out;
  }
}