:root {
  --main-color: #f5e2d8;
  --main-color-hover: #e4b399;
  --main-color-light: #f9ebe3;

}


.title {
  font-size: 2.5em;
  font-weight: bold;
  text-decoration: underline var(--main-color) solid 0.2em;
  color: #000;
}

.complete {
  height: 85vh;
}

.bg-object {
  background-color: var(--main-color);
  transition: background-color 0.2s ease-in-out;
}

.bg-object:hover {
  background-color: var(--main-color-hover);
  transition: background-color 0.2s ease-in-out;
}

.object-title {
  font-size: larger;
  font-weight: bold;
  color: #000;
}

.object {
  display: flex;
  flex-direction: column;
  transition: background-color 0.5s ease-in-out;
}

.object:hover {
  cursor: pointer;
  background-color: var(--main-color-light));
  transition: background-color 0.5s ease-in-out;
}

.selected {
  background-color: var(--main-color-light);
}

.object-amount {
  font-weight: thin;
  font-size: medium;
}


@media (max-width: 768px) {
  #previewContainer {
    display: none !important;
  }

  #rightSectionContainer {
    border: 0 !important;
  }

  #rightSection {
    padding-left: 0 !important;
  }

  #filterContainer {
    width: 100% !important;
    margin-bottom: 1em ;
  }

}
