:root {
  /* Neutral colors */
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --gray-20: hsl(0, 0%, 95%);
  --gray-50: hsl(0, 0%, 90%);
  --gray-100: hsl(0, 0%, 80%);
  --gray-200: hsl(0, 0%, 72%);
  --gray-300: hsl(0, 0%, 64%);
  --gray-600: hsl(0, 0%, 48%);
  --gray-900: hsl(0, 0%, 24%);
  --gray-1000: hsl(0, 0%, 16%);

  /* Accent colors */
  --clr-accent-1: hsl(51, 86%, 61%);
  /* yellow */
  --clr-accent-2: hsl(305, 42%, 84%);
  /* blue */
  --clr-accent-3: hsl(211, 42%, 84%);
  /* green */
  --clr-accent-4: hsl(0, 59%, 84%);
  /* red */
  --clr-accent-5: hsl(137, 44%, 84%);
  /* purple */

  /* Accent colors variations */
  /* yellow */
  --clr-accent-1-light: hsl(51, 86%, 71%);
  --clr-accent-1-dark: hsl(51, 86%, 51%);
  /* purple */
  --clr-accent-2-light: hsl(305, 42%, 94%);
  --clr-accent-2-dark: hsl(305, 42%, 74%);
  /* blue */
  --clr-accent-3-light: hsl(211, 42%, 94%);
  --clr-accent-3-dark: hsl(211, 42%, 74%);
  /* red */
  --clr-accent-4-light: hsl(0, 59%, 94%);
  --clr-accent-4-dark: hsl(0, 59%, 74%);
  /* green */
  --clr-accent-5-light: hsl(137, 44%, 94%);
  --clr-accent-5-dark: hsl(137, 44%, 74%);
  --clr-accent-5-darker: hsl(137, 44%, 44%);


  /* Fonts */
  --font-body: "Inter", sans-serif;
  --font-header: "ABCWhite", sans-serif;

  /* Font sizes */
  --font-size-small: 12px;
  --font-size-medium: 16px;
  --font-size-large: 20px;
  --font-size-xlarge: 24px;

  /* Border radius */
  --border-radius-1: --bs-border-radius;
  --border-radius-2: calc(--bs-border-radius * 2);
}

body {
  font-family: var(--font-body);
}

@font-face {
  font-family: "ABCWhite";
  src: url("/static/typographies/ABCWhyte-Black-Trial.otf");
  font-weight: bold;
}

p {
  word-wrap: break-word;
}

.scrollable {
  max-height: 200px;
  word-wrap: break-word;
  overflow-y: scroll;
  overflow-x: hidden;
}