:root {
  --projects-main-color: var(--clr-accent-3);
  --projects-main-color-hover: var(--clr-accent-3-dark);
  --projects-main-color-light: var(--clr-accent-3-light);
}


/* Button */
#section-project .section-btn {
  background-color: var(--projects-main-color);
  color: var(--clr-black);
}

#section-project .section-btn:hover {
  background-color: var(--projects-main-color-hover);
  color: var(--clr-black);
}

/* override bootstrap */
#section-project .section-btn:active {
  background-color: var(--projects-main-color-hover) !important;
  color: var(--clr-black);
}

/* Title */
#section-project .title {
  border-color: var(--projects-main-color);
}

/* Selection */
.selected {
  background-color: var(--projects-main-color-light);
}

/* cards hover */

.card-list:hover {
  cursor: pointer;
  background-color: var(--projects-main-color-light);
  transition: background-color 0.5s ease-in-out;
}

.card-list:focus {
  background-color: var(--projects-main-color-light);
}
