:root {
  --workers-main-color: var(--clr-accent-5);
  --workers-main-color-hover: var(--clr-accent-5-dark);
  --workers-main-color-light: var(--clr-accent-5-light);
}

/* Button */
#section-worker .section-btn:not(.secondary),
#section-godfather .section-btn:not(.secondary),
#section-child .section-btn:not(.secondary),
#section-user .section-btn:not(.secondary),
#section-volunteer .section-btn:not(.secondary) {
  background-color: var(--workers-main-color);
  color: var(--clr-black);
}

#section-worker .section-btn:hover:not(.secondary),
#section-godfather .section-btn:hover:not(.secondary),
#section-child .section-btn:hover:not(.secondary),
#section-user .section-btn:hover:not(.secondary),
#section-volunteer .section-btn:hover:not(.secondary) {
  background-color: var(--workers-main-color-hover);
  color: var(--clr-black);
}

/* override bootstrap */
#section-worker .section-btn:active:not(.secondary),
#section-godfather .section-btn:active:not(.secondary),
#section-child .section-btn:active:not(.secondary),
#section-user .section-btn:active:not(.secondary),
#section-volunteer .section-btn:active:not(.secondary) {
  background-color: var(--workers-main-color-hover) !important;
  color: var(--clr-black);
}

/* Title */
#section-worker .title,
#section-godfather .title,
#section-child .title,
#section-user .title,
#section-volunteer .title {
  border-color: var(--workers-main-color);
}

/* Selection */
#section-worker .selected,
#section-godfather .selected,
#section-child .selected,
#section-user .selected,
#section-volunteer .selected {
  background-color: var(--subsidies-main-color-light);
}

/* Add hover in cards */

.card-list:hover {
  cursor: pointer;
  background-color: var(--workers-main-color-light);
  transition: background-color 0.5s ease-in-out;
}

.card-list:focus {
  background-color: var(--workers-main-color-light);
}



/* Path: static\styles\subsidies.css */
