:root {
  --workers-main-color: #c4e8ce;
  --workers-main-color-hover: #cfeed8;
  --workers-main-color-light: #d5e8da;
}

/* This section is temporal, it will be removed in the next sprint */

.title {
  text-decoration-color: var(--workers-main-color) !important;
}

.bg-card-list {
  background-color: var(--workers-main-color) !important;
}

.bg-card-list:hover {
  background-color: var(--workers-main-color-hover) !important;
}

.card-list:hover {
  background-color: var(--workers-main-color-light) !important;
}

.selected {
  background-color: var(--workers-main-color-light);
}

/* ========== */

/* Button */
#section-worker .section-btn,
#section-godfather .section-btn,
#section-child .section-btn,
#section-user .section-btn,
#section-volunteer .section-btn {
  background-color: var(--workers-main-color);
}

#section-worker .section-btn:hover,
#section-godfather .section-btn:hover,
#section-child .section-btn:hover,
#section-user .section-btn:hover,
#section-volunteer .section-btn:hover {
  background-color: var(--workers-main-color-hover);
}

/* override bootstrap */
#section-worker .section-btn:active,
#section-godfather .section-btn:active,
#section-child .section-btn:active,
#section-user .section-btn:active,
#section-volunteer .section-btn:active {
  background-color: var(--workers-main-color-hover) !important;
}
