:root {
  --workers-main-color: var(--clr-accent-5);
  --workers-main-color-hover: var(--clr-accent-5-dark);
  --workers-main-color-light: var(--clr-accent-5-light);
}


/* Button */
#section-worker .section-btn,
#section-godfather .section-btn,
#section-child .section-btn,
#section-user .section-btn,
#section-volunteer .section-btn {
  background-color: var(--workers-main-color);
  color: var(--clr-black);
}

#section-worker .section-btn:hover,
#section-godfather .section-btn:hover,
#section-child .section-btn:hover,
#section-user .section-btn:hover,
#section-volunteer .section-btn:hover {
  background-color: var(--workers-main-color-hover);
  color: var(--clr-black);
}

/* override bootstrap */
#section-worker .section-btn:active,
#section-godfather .section-btn:active,
#section-child .section-btn:active,
#section-user .section-btn:active,
#section-volunteer .section-btn:active {
  background-color: var(--workers-main-color-hover) !important;
  color: var(--clr-black);
}

/* Title */
#section-worker .title,
#section-godfather .title,
#section-child .title,
#section-user .title,
#section-volunteer .title {
  border-color: var(--workers-main-color);
}

/* Selection */
#section-worker .selected,
#section-godfather .selected,
#section-child .selected,
#section-user .selected,
#section-volunteer .selected {
  background-color: var(--subsidies-main-color-light);
}
