{% extends "layouts/master_sidebar.html" %}

{% load static %}

{% block content %}

{% for o in context.objects %}
    <h1>Apadrinamiento {{ forloop.counter }}</h1>
    <p>Niño Apadrinado: {{o.child.name}} {{o.child.surname}}</p>
    <p>Casas apadrinadoras: </p>
    {% if o.home.all %}
        {% for h in o.home.all %}
            <p> - {{h.name}}</p>
        {% endfor %}
    {% else %}
        <p> - Ninguna</p>
    {% endif %}
    <p>Padrinos:</p>
    {% for g in o.godfather.all %}
        <p> - {{g.name}} {{g.surname}}</p>
    {% endfor %}
{% endfor %}
{% endblock %}