{% extends "layouts/master_full_width.html" %}
{% load static %}

{% block title %} 
{% if asem_user %} {{ asem_user.name }} {{ asem_user.surname }}
{% elif worker %} {{ worker.name }} {{ worker.surname }}
{% elif volunteer %} {{ volunteer.name }} {{ volunteer.surname }}
{% elif godfather %} {{ godfather.name }} {{ godfather.surname}}
{% elif child %} {{ child.name }} {{ child.surname}}
{% else  %} Usuario no identificado
{% endif %}


{% endblock %}
{% block extrahead %} 
<link rel="stylesheet" type="text/css" href="{% static 'styles/users.css' %}"> 
<link rel="stylesheet" type="text/css" href="{% static 'styles/details.css' %}"> 

{% endblock %}


{% block content %}

<div id="section-user" class="p-2">
<div class="row">
  <a href="{{ request.path|slice:'-1'|slice:'0:-1'|add:'/list' }}" id="returnBtn" style="margin: auto;">
    {% include 'components/button.html' with variation='RETURN' text='Volver al listado' %}
    </a>
</div>
<div class="row justify-content-between align-items-center">
  <div class="col-12">
    <div class="row justify-content-start align-items-center">
      
      <div class="d-flex justify-content-md-start justify-content-center col-md-3 col-12 py-3">
        {% if asem_user %}
        <img style="width: 150px; height: 150px; object-fit: cover; border-radius: 30px;" alt="{{ asem_user.photo }}" src="{% if asem_user.photo %}  ../../{{asem_user.photo}}{% else %}{% static 'img/person-icon.svg' %}{% endif %}" />
        {% elif worker %}
        <img style="width: 150px; height: 150px; object-fit: cover; border-radius: 30px;" alt="{{ worker.photo }}" src="{% if worker.photo %}  ../../{{worker.photo}}{% else %}{% static 'img/person-icon.svg' %}{% endif %}" />
        {% elif volunteer %}
        <img style="width: 150px; height: 150px; object-fit: cover; border-radius: 30px;" alt="{{ volunteer.photo }}" src="{% if volunteer.photo %}  ../../{{volunteer.photo}}{% else %}{% static 'img/person-icon.svg' %}{% endif %}" />
        {% elif godfather %}
        <img style="width: 150px; height: 150px; object-fit: cover; border-radius: 30px;" alt="{{ godfather.photo }}" src="{% if godfather.photo %}  ../../{{godfather.photo}}{% else %}{% static 'img/person-icon.svg' %}{% endif %}" />
        {% elif child %}
        <img style="width: 150px; height: 150px; object-fit: cover; border-radius: 30px;" alt="{{ child.photo }}" src="{% if child.photo %}  ../../{{child.photo}}{% else %}{% static 'img/person-icon.svg' %}{% endif %}" />
        {% else  %}
        <img style="width: 150px; height: 150px; object-fit: cover; border-radius: 30px;" alt="{{ user.photo }}" src="{% if user.photo %}  ../../{{user.photo}}{% else %}{% static 'img/person-icon.svg' %}{% endif %}" />
        {% endif %}
      </div>

      <div class="col-md-9 col-12 py-3">
        {% if asem_user %}
        {% include 'components/title.html' with title=asem_user.name|add:" "|add:asem_user.surname %}
        {% elif worker %}
          {% include 'components/title.html' with title=worker.name|add:" "|add:worker.surname %}
        {% elif volunteer %}
          {% include 'components/title.html' with title=volunteer.name|add:" "|add:volunteer.surname %}
        {% elif godfather %}
          {% include 'components/title.html' with title=godfather.name|add:" "|add:godfather.surname %}
        {% elif child %}
          {% include 'components/title.html' with title=child.name|add:" "|add:child.surname %}
        {% else  %}
          {% include 'components/title.html' with title="Usuario no identificado" %}
        {% endif %}
        
        <p>
          {% if asem_user %}
            Usuario ASEM
          {% elif worker %}
            Trabajador
          {% elif volunteer %}
            Voluntario
          {% elif godfather %}
            Padrino
          {% elif child %}
            Niño
          {% else  %}
            Usuario no identificado
          {% endif %}
        </p>

      </div>

    </div>
  </div>
  
  {% comment %}
  {% with href=request.path|slice:'-1'|slice:'0:-1'|add:'/list' %}
    {% include "components/button.html" with variation="RETURN" text="Volver al listado" href="/stock/create" id="returnBtn" type="button" href={{href}} %}
  {% endwith %} 
  {% endcomment %}
</div>


<div class="row mt-3" id="content">
  <div class="col-md-6">
    {% for key, value in info_left %}
      {% if value %}
        <strong>{{ key }}:</strong>
        <p>{{ value }}</p>
      {% endif %}
    {% endfor %}
  </div>
  <div class="col-md-6">
    {% for key, value in info_right %}
      {% if value %}

      <strong>{{ key }}:</strong>
      <p class="{% if key == 'Observaciones' %}scrollable{% endif %}">  
        {% if key == "Contrato" %}
        <a href="/{{ value }}" target="_blank">{{ value|cut:'media/docs/volunteer/' }}</a>
        {% elif key == "Niños apadrinados" %}

        <ul>
        {% for child in value %}
          <li>
            <a href="/user/child/{{ child.id }}">{{ child.name }} {{ child.surname }}</a>
          </li>
        {% endfor %}
        </ul>

        {% elif key == "Padrinos" %}
        <ul>
        {% for godfather in value %}
          <li>
            <a href="/user/godfather/{{ godfather.id }}">{{ godfather.name }} {{ godfather.surname }}</a>
          </li>
        {% endfor %}
        </ul>
        {% elif key == "Casas" %}
        <ul>
        {% for home in value %}
          <li>
            <p>{{ home.name }}, {{ home.province }}</p>
          </li>
        {% endfor %}
        </ul>
        {% else %}
          {{ value }}
        {% endif %}
        </p>
      {% endif %}
    {% endfor %}
  </div>
</div>
</div>

<div class="links">
  {% comment %}
  - add service will only be available for asem users
  
  {% endcomment %}
  {% if asem_user %}
    <a href="/service/create"><i class="bi bi-plus-lg"></i> Añadir servicio</a>
  {% endif %}
  {% if godfather %}
  <a href="/payment/create"><i class="bi bi bi-wallet2"></i> Añadir pago</a>
  {% endif %}
  {% if child %}
    <a href="/sponsorship/create?child={{ child.id }}"><i class="bi bi-diagram-2"></i> Añadir apadrinamiento</a>
  {% elif godfather %}
    <a href="/sponsorship/create?godfather={{ godfather.id }}"><i class="bi bi-diagram-2"></i> Añadir apadrinamiento</a>
  {% endif %}

  <a href="{{ request.path|add:'/update' }}"><i class="bi bi-pencil"></i> Editar</a>
  <a href="{{ request.path|add:'/delete' }}"><i class="bi bi-trash"></i> Eliminar</a>
</div>
{% endblock %}
