{% extends "layouts/master_sidebar.html" %}
{% load static %}


{% block botonPrimario %}
{% if object_name_en == "user" %}
  {% include 'components/button.html' with href='/user/asem/create' id='create-button' variation='PLUS' text='Añadir '|add:object_name|safe%}

{% elif object_name_en == "volunteer" %}
  {% include 'components/button.html' with href='/user/volunteer/create' id='create-button' variation='PLUS' text='Añadir '|add:object_name|safe%}

{% elif object_name_en == "worker" %}
  {% include 'components/button.html' with href='/user/worker/create' id='create-button' variation='PLUS' text='Añadir '|add:object_name|safe%}

{% elif object_name_en == "child" %}
  {% include 'components/button.html' with href='/user/child/create' id='create-button' variation='PLUS' text='Añadir '|add:object_name|safe%}

{% elif object_name_en == "godfather" %}
  {% include 'components/button.html' with href='/user/godfather/create' id='create-button' variation='PLUS' text='Añadir '|add:object_name|safe%}

{% endif %}
{% endblock %}

{% block extrahead %} <link rel="stylesheet" type="text/css" href="{% static 'styles/users.css' %}"> {% endblock %}


{%block filters%}
<form method="GET" class="my-3">

  {% csrf_token %}

  {% comment %} ASEM USER {% endcomment %}
  {% if object_name_en == "user" %}
  <div id="team">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-5 mb-3">
        {% include "components/inputs.html" with id=form.qsearch.id_for_label label_text="Búsqueda:" input=form.qsearch %} 
      </div>
    
      <div class='col-lg-4 col-md-12 col-12 mb-3'>
        {% include "components/inputs.html" with id=form.birth_date_min.id_for_label label_text="Nacimiento" input=form.birth_date_min %} 
      </div>
      <div class="col-lg-3 col-md-12 col-12 mb-3">
        {% include "components/inputs.html" with id=form.sex.id_for_label label_text="Género" input=form.sex %} 
      </div>
      <div class="col-lg-3 col-md-12 col-12 mb-3">
        {% include "components/inputs.html" with id=form.status.id_for_label label_text="Estado civil" input=form.status %} 
      </div>
      <div class="col-lg-3 col-md-12 col-12 mb-3">
        {% include "components/inputs.html" with id=form.condition.id_for_label label_text="Condición" input=form.condition %} 
      </div>
      <div class="col-lg-3 col-md-12 col-12 mb-3">
        {% include "components/inputs.html" with id=form.member.id_for_label label_text="Miembro" input=form.member %} 
      </div>
      <div class="col-lg-3 col-md-12 col-12 mb-3">
        {% include "components/inputs.html" with id=form.user_type.id_for_label label_text="Tipo de usuario" input=form.user_type %} 
      </div>
    </div>
  </div>

  {% comment %} WORKER {% endcomment %}
  {% elif object_name_en == "worker" %}
  <div id="team">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-5 mb-3">
        {% include "components/inputs.html" with id=form.qsearch.id_for_label label_text="Búsqueda:" input=form.qsearch %} 
      </div>
    
      <div class='col-lg-4 col-md-12 col-12 mb-3'>
        {% include "components/inputs.html" with id=form.birth_date_min.id_for_label label_text="Nacimiento" input=form.birth_date_min %} 
      </div>
      <div class="col-lg-3 col-md-12 col-12 mb-3">
        {% include "components/inputs.html" with id=form.sex.id_for_label label_text="Género" input=form.sex %} 
      </div>
    </div>
  </div>

  {% comment %} CHILD {% endcomment %}
  {% elif object_name_en == "child" %}
  <div id="team">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-5 mb-3">
        {% include "components/inputs.html" with id=form.qsearch.id_for_label label_text="Búsqueda:" input=form.qsearch %} 
      </div>
    
      <div class='col-lg-4 col-md-12 col-12 mb-3'>
        {% include "components/inputs.html" with id=form.birth_date_min.id_for_label label_text="Nacimiento" input=form.birth_date_min %} 
      </div>

      <div class="col-lg-3 col-md-12 col-12 mb-3">
        {% include "components/inputs.html" with id=form.sex.id_for_label label_text="Género" input=form.sex %} 
      </div>

      <div class="col-lg-3 col-md-12 col-12 mb-3">
        {% include "components/inputs.html" with id=form.is_older.id_for_label label_text="Mayor de edad" input=form.is_older %} 
      </div>

      <div class="col-lg-3 col-md-12 col-12 mb-3">
        {% include "components/inputs.html" with id=form.is_sponsored.id_for_label label_text="Apadrinado" input=form.is_sponsored %} 
      </div>
    </div>
  </div>

  {% comment %} VOLUNTEER {% endcomment %}
  {% elif object_name_en == "volunteer" %}
  <div id="team">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-5 mb-3">
        {% include "components/inputs.html" with id=form.qsearch.id_for_label label_text="Búsqueda:" input=form.qsearch %} 
      </div>
    
      <div class='col-lg-4 col-md-12 col-12 mb-3'>
        {% include "components/inputs.html" with id=form.birth_date_min.id_for_label label_text="Nacimiento" input=form.birth_date_min %} 
      </div>

      <div class="col-lg-3 col-md-12 col-12 mb-3">
        {% include "components/inputs.html" with id=form.sex.id_for_label label_text="Género" input=form.sex %} 
      </div>

      <div class="col-lg-3 col-md-12 col-12 mb-3">
        {% include "components/inputs.html" with id=form.volunteer_type.id_for_label label_text="Tipo" input=form.volunteer_type %} 
      </div>
    </div>
  </div>

  {% comment %} GODFATHER {% endcomment %}
  {% elif object_name_en == "godfather" %}
  <div id="team">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-5 mb-3">
        {% include "components/inputs.html" with id=form.qsearch.id_for_label label_text="Búsqueda:" input=form.qsearch %} 
      </div>
    
      <div class='col-lg-4 col-md-12 col-12 mb-3'>
        {% include "components/inputs.html" with id=form.birth_date_min.id_for_label label_text="Nacimiento" input=form.birth_date_min %} 
      </div>

      <div class="col-lg-3 col-md-12 col-12 mb-3">
        {% include "components/inputs.html" with id=form.sex.id_for_label label_text="Género" input=form.sex %} 
      </div>

      <div class="col-lg-3 col-md-12 col-12 mb-3">
        {% include "components/inputs.html" with id=form.status.id_for_label label_text="Estado Civil" input=form.status %} 
      </div>
    </div>
  </div>

  {% endif %}

  <div class="col pt-2">
    {% include 'components/button.html' with text="Filtrar" id="id-filter" variation="SUBMIT" %}

    {% include 'components/button.html' with text="Borrar" id="reset" type="reset" variation="RESET" %}
  </div>
</form>

{% endblock %}


{% block objectFor %}

<!-- TABLE HEADER -->
<div id="id-tableHeader" class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-6"><strong>Nombre</strong></div>
    <div class="col-lg-3 col-6"><strong>Ciudad</strong></div>
    <div class="col-lg-2 col-6"><strong>Tel&eacute;fono</strong></div>
    <div class="col-lg-3 col-6"><strong>E-mail</strong></div>
  </div>
  <hr class="my-1">
</div>

{% for object in objects %}
  {% include 'components/card-list.html' with object_name=object_name  name=object.name surnames=object.surname %}
{% endfor %}

<div class="pagination mt-4">
  <span class="step-links">
      {% if objects.has_previous %}
          <a href="?page=1">&laquo; Primera</a>
          <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
      {% endif %}

      <span class="current">
          Página {{ objects.number }} de {{ objects.paginator.num_pages }}.
      </span>

      {% if objects.has_next %}
          <a href="?page={{ objects.next_page_number }}">Siguiente</a>
          <a href="?page={{ objects.paginator.num_pages }}">Última &raquo;</a>
      {% endif %}
  </span>
</div>

{% include 'components/pagination.html' %}

{% endblock %}

{% block scripts %}
<script id="object-data" >
  const objectList = document.querySelectorAll('.card-list')
  const objetos = JSON.parse('{{ objects_json|escapejs }}')
  const preview = document.querySelector('#preview')
  const prevInfo = document.querySelector('#prev-info')
  const chevron = document.querySelector('#chevron')

  objectList.forEach(object => {
    const moreInfo = object.querySelector('#moreInfo')
    object.addEventListener('click', () => {
      const isMobile = window.matchMedia("(max-width: 768px)").matches
      const isExpanded = !moreInfo.classList.contains('d-none')
      const objectId = object.querySelector('.object-id').innerText
      

      const objectData = objetos.find(object => object.id == objectId)


      if (isMobile) {
        if (isExpanded) {
          moreInfo.classList.add('d-none')
          chevron.classList.remove('bi-chevron-down')
          chevron.classList.add('bi-chevron-right')
        } else {
          moreInfo.classList.remove('d-none')
          chevron.classList.remove('bi-chevron-right')
          chevron.classList.add('bi-chevron-down')
        }

  } else {

        prevInfo.classList.add('d-none')
        preview.classList.remove('text-center')
          preview.innerHTML = `
        <div class="container p-0">
          <div class="row px-4">
            <div class="col justify-content-center">
              <div class=" row justify-content-center ">
                {%if object_name == "usuario" or object_name == "niño" or object_name == "padrino" or object_name == "trabajador" or object_name == "voluntario"%} 

                  <img class="profile-img-big rounded" alt="${objectData.photo}" src={%if objectData.photo is not null%}${"../../" + objectData.photo} {%else%} {% static 'img/person-icon.svg' %} {%endif%}/>

                {%endif%}
              </div>
              <div class="row">
                <h2 class="text-center object-title" title="${objectData.name+ ' '+ objectData.surname}">${objectData.name+ ' '+ objectData.surname}</h1>
              </div>
              
              <div class="row">
                <p class="text-center">{{ object_name}}</p>
              </div>
              <div class="row">
                <h5>{{object_names}}</h5>

              </div>
              <div class="row ">
                <p><strong>Teléfono: </strong>${objectData.telephone?objectData.telephone:'No especificado'}</p>

              </div>
              <div class="row">
                <p><strong>Direción:  </strong>${objectData.address?objectData.address:'No especificado'}</p>

              </div>
              <div class="row">
                <div class="col-12 col-email2">
      
                  <span><strong>Correo:  </strong>${objectData.email?objectData.email:'No especificado'}</span>
                </div>

              </div>


            </div>
          </div>
        </div>
          <div class="container mt-auto border-dark border-top border-1 col-md-4 fixed-panelcol-md-4 p-0 fixed-panel">
            <div class="buttons row d-flex flex-column text-center p-3" id="lateralButtons">
              {%if object_name == "usuario"%}
              <a id="add-service" href="../../../service/create"><i class="bi bi-bandaid"></i>Añadir servicio</a>
              {%elif object_name == "padrino" or object_name == "donante"%}
              <a id="add-payment" href="../../../payment/create?godfather=${ objectData.id }""><i class="bi bi-wallet2"></i>Añadir pago</a>
              {% endif %}
              {%if object_name == "niño"%}
              <a id="add-godfather" href="../../../sponsorship/create?child=${ objectData.id }"><i class="bi bi-diagram-2"></i>Añadir apadrinamiento</a>
              {%elif object_name == "padrino"%}
              <a id="add-godfather" href="../../../sponsorship/create?godfather=${ objectData.id }"><i class="bi bi-diagram-2"></i>Añadir apadrinamiento</a>
              {% endif %}

              <a href="${ objectData.id }"><i class="bi bi-info-circle"></i>Detalles</a>
              <a id="update-button" href="${ objectData.id }/update"><i class="bi bi-pencil"></i>Editar</a>
              <a id="delete-button" href="${ objectData.id }/delete"><i class="bi bi-x"></i>Eliminar</a>
            </div>
          </div>

      `
      }

    })

    // when resizing the window, the preview will be reset
    window.addEventListener('resize', () => {
      moreInfo.classList.add('d-none')
      prevInfo.classList.remove('d-none')
      preview.classList.add('text-center')
      preview.classList.remove('p-5')
      preview.innerHTML = `<span id="prev-info">Pulsa sobre una {{ object_name }} para la vista previa</span>`

    })

  })


</script>


<script>
  document.querySelector('button[type="reset"]').addEventListener('click', function(e) {
      e.preventDefault();
      window.location.href = window.location.pathname;
  });
</script>
{% endblock %}