{% extends "layouts/master_full_width.html" %}
{% load static %}
{% block extrahead %}<link rel="stylesheet" type="text/css" href="{% static 'styles/stock.css' %}">{% endblock %}

{% block content %} 
<div id="section-stock">
{% include 'components/title.html' with title=title %}

<!-- FILTERS -->
<div class="row h-100 my-4">
    <div class="col-12">
        <div id="id-menuDiv" class="row justify-content-between align-items-center mb-3">
            <div class="col-md-7 col-8 d-flex">
                {% include "components/search.html" with id="id-searchStock" text="Escribe un producto..." %}
            </div>
            
            <div class="col-4 d-flex justify-content-end align-items-center btn-more-stock">
                <div>
                    {% include "components/button.html" with variation="PLUS" text="A&ntilde;adir producto" href="/stock/create" id="create-button" type="button" %}
                </div>
            </div>
        </div>

        <div class="row justify-content-between align-items-center mb-3">
            <div class="col-md-2 col-4 mb-3 mb-md-0">
                {% include "components/card-display.html" with id="id-cardsDiv" class_card="card-stock" class_card_list="card-stock-list" %}
            </div>
            <div class="col-md-6 col-8 mb-3 mb-md-0">

            </div>
            <div class="col-md-4 col-12 d-flex justify-content-end">
                <div>
                    {% include "components/button.html" with variation="EXCEL" text="Descargar" type="button" onclick="" secondary=True %}
                </div>
            </div>
        </div>
    </div>
</div>
<form method="GET" class="my-3">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Filtrar">
    <button type="reset" class="btn btn-secondary">Borrar filtros</button>
  </form>

<!-- CARDS -->
<div class="row h-100 mb-4">
    <div class="col-12">
        <div id="id-cardsDiv" class="row row-cols-1 row-cols-md-3 g-4">

            {% for product in objects %}
                {% include "components/card.html" with class_card="card-stock" item=product  %}
            {% endfor %}

        </div>
    </div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if objects.has_previous %}
        <a href="?page=1{{ query_str }}">&laquo; Primera</a>
        <a href="?page={{ objects.previous_page_number }}{{ query_str}}">Anterior</a>
        {% endif %}
 
        <span class="current">
            Página {{ objects.number }} de {{ objects.paginator.num_pages }}.
        </span>
 
        {% if objects.has_next %}
        <a href="?page={{ objects.next_page_number }}{{ query_str }}">Siguiente</a>
        <a href="?page={{ objects.paginator.num_pages }}{{ query_str}}">Última &raquo;</a>
        {% endif %}
    </span>
  </div>
</div>
<script>
    document.querySelector('button[type="reset"]').addEventListener('click', function(e) {
        e.preventDefault();
        window.location.href = window.location.pathname;
    });
  </script>
{% endblock %}