{% extends "layouts/master_full_width.html" %}
{% load static %}
{% block extrahead %}<link rel="stylesheet" type="text/css" href="{% static 'styles/stock.css' %}">{% endblock %}


{% block contenido %} 

{% include 'components/title.html' with title=title %}

<!-- FILTERS -->
<div class="row h-100 my-4">
    <div class="col-12">
        <div id="id-menuDiv" class="row justify-content-between">
            <div class="col-md-2 col-4 mb-md-0 mb-3 d-flex">
                {% include "components/card-display.html" with id="id-cardsDiv" class_card="card-stock" class_card_list="card-stock-list" %}
            </div>

            <div class="col-md-7 col-8 mb-md-0 mb-3">
                {% include "components/search.html" with id="id-searchStock" text="Escribe un producto..." %}
            </div>
            
            <div class="col-md-3 col-12 mb-md-0 mb-3 d-flex btn-more-stock">
                {% include "components/button.html" with variation="PLUS" text="A&ntilde;adir stock" href="/stock/create" type="button" onclick="window.location.pathname = '/stock/create'" %}
            </div>
        </div>
    </div>
</div>

<!-- CARDS -->
<div class="row h-100 mb-4">
    <div class="col-12">
        <div id="id-cardsDiv" class="row row-cols-1 row-cols-md-3 g-4">

            {% for product in objects %}
                {% with id_counter=forloop.counter|stringformat:"s" %}
                    {% include "components/card.html" with id="id-productDiv-"|add:id_counter class_card="card-stock" item=product  %}
                {% endwith %}
            {% endfor %}

        </div>
    </div>
</div>

<div class="row mb-4">
<div class="col-12">
    {% include "components/button.html" with variation="EXCEL" text="Descargar página" type="button" onclick="" %}
</div>
</div>

{% endblock %}