{% extends "layouts/master_full_width.html" %}
{% block extrahead %} 
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/stock.css' %}">
{% endblock %}


{% block content %} 
<div id="section-stock">

    {% if form.instance.id %}
        {% include 'components/title.html' with title="Editar producto" %}
    {% else %}
        {% include 'components/title.html' with title="Añadir producto" %}
    {% endif %}

    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="row justify-content-between mx-4 mt-3">
            <div class="col-12 col-sm-4  mx-2 ">
                <div class="row pt-1">
                    {% with label_text="Nombre"|safe|add:'<span class="text-danger"> *</span>' %}
                        {% include 'components/inputs.html' with id=form.name.id_for_label label_text=label_text input=form.name %}
                    {% endwith %}
                </div>
                <div class="row pt-4">                  
                    {% include "components/inputs.html" with id=form.model.id_for_label label_text="Modelo" input=form.model %}
                </div>
                <div class="row pt-4">        
                    {% with label_text="Unidades"|safe|add:'<span class="text-danger"> *</span>' %}
                        {% include 'components/inputs.html' with id=form.quantity.id_for_label label_text=label_text input=form.quantity %}
                    {% endwith %}          
                </div>
                <div class="row pt-4">                  
                    {% include "components/inputs.html" with id=form.amount.id_for_label label_text="Precio (€)" input=form.amount %}
                </div>
                <div class="row pt-4 mb-4">                  
                    {% include "components/inputs.html" with id=form.notes.id_for_label label_text="Observaciones" input=form.notes %}
                </div>
                <div class="col-12">
                    <p class="text-danger">* Campos obligatorios</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 ">
                <div>
                    <div class=" row mb-4 d-flex justify-content-center">
                        <img id="vista" src="{% static 'img/img-not-found.svg' %}"
                        class="img-fluid" style="width: 300px;" />
                    </div>
                    <div class=" row d-flex justify-content-center  ">
                        <div class="col-8">
                            {% include "components/inputs.html" with id=form.photo.id_for_label input=form.photo  %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="photo" style="display:none">{{form.photo.value}}</div>
        
        <div class="form-section mt-3 mb-5 col-12 d-flex justify-content-center">

            {% if form.instance.id %}
                {% include 'components/button.html' with variation="SUBMIT" text="Actualizar artículo" id="submit" type="submit" %}
            {% else %}
                {% include 'components/button.html' with variation="SUBMIT" text="Registrar artículo" id="submit" type="submit" %}
            {% endif %}


        </div>

    </form>

</div>  

<script>
    const inputAmount = document.getElementById('id_quantity');
    // inputAmount should be min 0
    inputAmount.setAttribute('min', 0);

    const inputFoto = document.querySelector('#' + '{{form.photo.id_for_label}}');
    const vistaPrevia = document.querySelector('#vista');

    inputFoto.addEventListener('change', () => {
    const archivo = inputFoto.files[0];
    if (archivo) {
        const lector = new FileReader();
        lector.addEventListener('load', () => {
        vistaPrevia.src = lector.result;
        });
        lector.readAsDataURL(archivo);
    } else {
        
        vistaPrevia.src = "{% static 'img/img-not-found.svg' %}";
    }
    });



    window.addEventListener("load", (event) => {
        let value= document.querySelector('.photo').innerHTML;
        if (value == null || value == "None" || value == ""){
            value = "{% static 'img/img-not-found.svg' %}";
        }
        vistaPrevia.src = '../../'+value;
    });
  </script>


   
{% endblock %}

