{% extends "layouts/master_full_width.html" %}
{% block extrahead %} 
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/stock.css' %}">
{% endblock %}


{% block content %} 
<div id="section-stock">

{% if form.instance.id %}
    {% include 'components/title.html' with title="Editar suministro" %}
{% else %}
    {% include 'components/title.html' with title="Añadir suministro" %}
{% endif %}

    <form method="post"   enctype="multipart/form-data">
    {% csrf_token %}
        <div class="row justify-content-between mx-4">
            <div class="col-12 col-sm-4  mx-2 ">
                <div class="row pt-1">
                    {% include "components/inputs.html" with id=form.name.id_for_label label_text="Nombre" input=form.name %}

                </div>
                <div class="row pt-4 mb-4">                  
                    {% include "components/inputs.html" with id=form.quantity.id_for_label label_text="Unidades" input=form.quantity %}

                </div>
            </div>
            <div class="col-12 col-sm-6 ">
                <div>
                    <div class=" row mb-4 d-flex justify-content-center">
                        <img id="vista" src={% static 'img/img-not-found.svg' %}
                        class="img-fluid" style="width: 300px;" />
                    </div>
                    <div class=" row d-flex justify-content-center  ">
                        <div class="col-8">
                            {% include "components/inputs.html" with id=form.photo.id_for_label input=form.photo  %}
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="form-section my-5 mx-5 text-center ">  
            {% if form.instance.id %}
                {% with button_text="Actualizar" %}
                    {% include 'components/button.html' with text=button_text variation="SUBMIT" %}
                {% endwith %}
            {% else %}
                {% with button_text="Registrar artículo" %}
                    {% include 'components/button.html' with text=button_text variation="SUBMIT" %}
                {% endwith %}
            {% endif %}

        </div> 
    </form>

</div>  

<script>
    const inputFoto = document.querySelector('#' + '{{form.photo.id_for_label}}');
    const vistaPrevia = document.querySelector('#vista');

    inputFoto.addEventListener('change', () => {
    const archivo = inputFoto.files[0];
    if (archivo) {
        const lector = new FileReader();
        lector.addEventListener('load', () => {
        vistaPrevia.src = lector.result;
        });
        lector.readAsDataURL(archivo);
    } else {
        vistaPrevia.src = "{% static 'img/img-not-found.svg' %}";
    }
    });
  </script>


   
{% endblock %}

