{% extends "layouts/master_sidebar.html" %}

{% comment %}
ATTENTION FOR THE SCRIPT: you must include the divs with the id "data" and "object-name" in order to make the script
work. The first one must contain the data in json format and the second one must contain the name of the object to be
displayed in the preview text (e.g. "donación")
{% endcomment %}

{% load static %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles/donations.css' %}">
{% endblock %}

{% block botonPrimario %}
<a  href="/donation/create">
{% include 'components/button.html' with variation='PLUS' text='Añadir '|add:object_name|safe %}</a>
{% endblock %}

{% block objectFor %}
<form method="GET" class="my-3">
  {% csrf_token %}
  {{form}}
  <input type="submit" value="Filtrar">
  <button type="reset" class="btn btn-secondary">Borrar filtros</button>
</form>

<!-- TABLE HEADER -->
<div id="id-tableHeader" class="container-fluid">
  <div class="row">
    <div class="col-lg-5 col-6"><strong>Título</strong></div>
    <div class="col-lg-3 col-6"><strong>Fecha de presentación</strong></div>
    <div class="col-lg-2 col-6"><strong>Cantidad</strong></div>
    <div class="col-lg-2 col-6"><strong>E-mail</strong></div>
  </div>
  <hr class="my-1">
</div>

{% for object in objects %}

<div class="container-fluid mw-100 px-2 card-list rounded py-1" id="donation-{{ object.id }}" tabindex="1">
  <span class="object-id d-none">{{ object.id }}</span>
       
  <div class="row">
    <div class="col-lg-5 col-6">
      <strong><h5 title="{{object.title}}">{{object.title}}</h5></strong>

    </div>
    <div class="col-lg-3 col-6">
      <span>{{object.created_date}}</span>

    </div>  
    <div class="col-lg-2 col-6">
      <span>{{object.amount}} €</span>

    </div> 
    <div class="col-lg-2 col-6">
      <span class="text-break text-wrap">{{object.donor_email}}</span>
      </div>
    </div>

    <div class="d-none d-flex flex-column " id="moreInfo">
      <span class="object-description pt-1"><strong>Descripción: </strong><span class="d-flex scrollable">{{ object.description }}</span></span>
      <span class="object-donor-name pt-1"><strong>Nombre donante: </strong>{{ object.donor_name  }} {{object.donor_surname}}</span>
      <span class="object-donor-dni pt-1"><strong>DNI donante: </strong>{{ object.donor_dni  }}</span>
      <span class="object-donor-address pt-1"><strong>Dirección donante: </strong> {{ object.donor_address  }}</span>
      <span class="object-donor-email pt-1"><strong>Correo donante: </strong> {{ object.donor_email  }}</span>
      <span class="object-document pt-1"><strong>Documento: </strong> {{ object.document.path  }}</span>

      <div class="container mt-2 border-dark border-top border-1  p-0">
        <div class="row d-flex flex-column text-center p-2" id="lateralButtons">
          <a href="${ objectData.id }/update"><i class="bi bi-pencil"></i>Editar</a>
          <a href="${ objectData.id }/delete"><i class="bi bi-x"></i>Eliminar</a>
        </div>
      </div>
    </div>
</div>
{% endfor %}

<div id="data" data-json='{{ objects_json|safe }}'></div>
<div id="object-name" data-name='{{ object_name }}'></div>

{% include 'components/pagination.html' %}

{% endblock %}


{% block scripts %}
<script id="object-data">
  const objectList = document.querySelectorAll('.card-list')
  const objetos = JSON.parse('{{ objects_json|escapejs }}')
  const preview = document.querySelector('#preview')
  const prevInfo = document.querySelector('#prev-info')
  const chevron = document.querySelector('#chevron')

  objectList.forEach(object => {
    const moreInfo = object.querySelector('#moreInfo')
    object.addEventListener('click', () => {
      const isMobile = window.matchMedia("(max-width: 768px)").matches
      const isExpanded = !moreInfo.classList.contains('d-none')
      const objectId = object.querySelector('.object-id').innerText
      

      const objectData = objetos.find(object => object.id == objectId)


      if (isMobile) {
        if (isExpanded) {
          moreInfo.classList.add('d-none')
          chevron.classList.remove('bi-chevron-down')
          chevron.classList.add('bi-chevron-right')
        } else {
          moreInfo.classList.remove('d-none')
          chevron.classList.remove('bi-chevron-right')
          chevron.classList.add('bi-chevron-down')
        }

  } else {
        prevInfo.classList.add('d-none')
        preview.classList.remove('text-center')
        preview.innerHTML = `
        <div class="row ">
          <div class="col-12 px-4">
            
            <h2 title="${objectData.title}">${objectData.title}</h2>
            <h5>{{object_name}}</h5>
            <p><strong>Descripción: </strong><span class="d-flex scrollable">${objectData.description}</span></p>
            <p><strong>Fecha de presentación: </strong><span>${ objectData.created_date }</span></p>
            <p><strong>Cantidad:  </strong>${objectData.amount} €</p>
            <p><strong>Nombre donante: </strong>${objectData.donor_name + ' ' + objectData.donor_surname}</p>
            <p><strong>DNI donante:  </strong>${objectData.donor_dni}</p>
            <p><strong>Dirección donante:  </strong>${objectData.donor_address}</p>
            <p><strong>Correo donante:  </strong>${objectData.donor_email}</p>
            <p><strong>Documento: </strong>
              ${
                objectData.document && objectData.document.includes("donation/")
                  ? `<a href="/${objectData.document}" target="_blank">${objectData.document.split("donation/")[1]}</a>`
                  : "Sin documento asociado"
              }
            </p>
          </p>
          </div>
        </div>

        <div class="container mt-auto border-dark border-top border-1  p-0">
          <div class="row d-flex flex-column text-center p-3" id="lateralButtons">
            <a href="${ objectData.id }/update"><i class="bi bi-pencil"></i>Editar</a>
            <a href="${ objectData.id }/delete"><i class="bi bi-x"></i>Eliminar</a>
          </div>
        </div>
      `
      }

    })

    // when resizing the window, the preview will be reset
    window.addEventListener('resize', () => {
      moreInfo.classList.add('d-none')
      prevInfo.classList.remove('d-none')
      preview.classList.add('text-center')
      preview.classList.remove('p-5')
      preview.innerHTML = `<span id="prev-info">Pulsa sobre una {{ object_name }} para la vista previa</span>`

    })

  })

</script>
<script>
  document.querySelector('button[type="reset"]').addEventListener('click', function(e) {
      e.preventDefault();
      window.location.href = window.location.pathname;
  });
</script>
{% endblock %}
