<h1>Detalles de niño</h1>

<h2>Nombre: {{child.name}}</h2>
<h2>Apellido: {{child.surname}}</h2>

<p>Fecha de apadrinamiento: {{child.sponsorship_date}}</p>
<p>Fecha de baja: {{child.termination_date}}</p>
<p>Estudio: {{child.study}}</p>
<p>Tiempo previsto de misión: {{child.}}</p>
<p>Casa de la misión: {{child.mission_house}}</p>
<p>Sede: {{child.site}}</p>
<p>Nombre del padre: {{child.father_name}}</p>
<p>Profesión del padre: {{child.father_profession}}</p>
<p>Nombre de la madre: {{child.mother_name}}</p>
<p>Profesión de la madre: {{child.mother_profession}}</p>
<p>Número de hermanos: {{child.number_brothers_siblings}}</p>
<p>Correspondencia: {{child.correspondence}}</p>
