<body>

    <div>
        {% if objects %}
            {% for c in objects %}
                <div class="child">
                    <h3>{{c.name}} {{c.surname}}</h3>
                    <p>Niño</p>
                    <!--Add button edit-->
                    <button>Editar</button>
                    <!--TODO: añadir función al botón para editarlo-->

                </div>
            {% endfor %}
        {% else %}
            <h3 class="no-events-text">En este momento no hay niños registrados</h3>
        {% endif %}
    </div>
</body>