{% extends 'master.html' %}

{% block titulo %} Página inicial {% endblock %}

{% block contenido %} 
		<hr>
		<h5>Esta es la página de inicio</h5>   
		<hr>

		{% comment %} Example cardlist {% endcomment %}

		{% include 'components/card-list.html' with object_name="person" profilePic="https://this-person-does-not-exist.com/gen/avatar-117af80ee0a09a08091c16faa044c981.jpg" name="Adela" surnames="Perez"%}

		{% include 'components/card-list.html' with object_name="person" name="Adela" surnames="Perez"%}

		{% include 'components/card-list.html' with object_name="otro" amount="300" name="Adela" surnames="Perez"%}

{% endblock %}