{% extends 'layouts/master.html' %} {% block titulo %} Añadir pago {% endblock %} 
{% block contenido %}
<h1 class="mx-5 my-5">Añadir pago</h1>
<form method="post" class="" action="/payments/">
  {% csrf_token %}
    <div class="row my-4 mx-5">
      {% include "components/inputs.html" with id=1 label_text="Cantidad" placeholder="Escribe cantidad" type="text" %} 
      {% include "components/inputs.html" with id=2 label_text="Fecha" placeholder="Escribe la fecha del pago" type="text" %}
  </div>
  <div class="form-section mt-5 mx-5 text-center">
  {% include 'components/button.html' with text="Añadir pago" variation="SUBMIT" %}
  </div>
</form>
{% endblock %}
