<body>

    <div>
        {% if objects %}
            {% for v in objects %}
                <div class="volunteer">
                    <h3>{{v.name}} {{v.surname}}</h3>
                    <p>Voluntario</p>
                    <!--Add button edit-->
                    <button>Editar</button>
                    <!--TODO: añadir función al botón para editarlo-->

                </div>
            {% endfor %}
        {% else %}
            <h3 class="no-events-text">En este momento no hay voluntarios registrados</h3>
        {% endif %}
    </div>
</body>