<h1>Detalles del voluntario</h1>

<h2>Nombre: {{volunteer.name}}</h2>
<h2>Apellido: {{volunteer.surname}}</h2>
<h2>Email: {{volunteer.email}}</h2>
<h2>Fecha de nacimiento: {{volunteer.birth_date}}</h2>
<h2>Sexo: {{volunteer.sex}}</h2>
<h2>Ciudad: {{volunteer.city}}</h2>
<h2>Dirección: {{volunteer.address}}</h2>
<h2>Teléfono: {{volunteer.telephone}}</h2>
<h2>Código Postal: {{volunteer.postal_code}}</h2>
<h2>DNI: {{volunteer.dni}}</h2>
<h2>Trabajo: {{volunteer.job}}</h2>
<h2>Tiempo de dedicación: {{volunteer.dedication_time}}</h2>
<h2>Fecha de inicio del contrato: {{volunteer.contract_start_date}}</h2>
<h2>Fecha de fin del contrato: {{volunteer.contract_end_date}}</h2>
<h2>¿Participa en la rifa?: {{volunteer.raffle}}</h2>
<h2>¿Participa en la loteria?: {{volunteer.lottery}}</h2>
<h2>¿Es socio?: {{volunteer.is_member}}</h2>
<h2>¿Presidente de la mesa?: {{volunteer.pres_table}}</h2>
<h2>¿Es colaborador?: {{volunteer.is_contributor}}</h2>
<h2>Observaciones: {{volunteer.notes}}</h2>
<h2>Entidad: {{volunteer.entity}}</h2>
<h2>Mesa: {{volunteer.table}}</h2>
<h2>Tipo de voluntario: {{volunteer.volunteer_type}}</h2>
<h2>ONG: {{volunteer.ong}}</h2>